{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Students' | trans }} {% endblock %}
{% block title %}
    {{ 'Students' | trans }}
    {% set help = {'title': 'eleve.title', 'intro': 'intro', 'actions': 'eleve.actions'} %}
    {% include 'help/help-dialog.html.twig' %}
{% endblock %}

{% block titleBottom %}
    {% set placeholder = 'Search for student'|trans %}
    {% include 'search.html.twig' %}
{% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'First name'|trans }}</th>
            <th class="mobile-hidden-td">{{ 'Birthday'|trans }}</th>
            <th class="text-center">{{ 'Classes'|trans }}</th>

            {% if is_granted('ROLE_STUDENT_EDIT') %}
                <th scope="col" class="text-center mobile-hidden-td">{{ 'Edit' | trans }}</th>
            {% endif %}

            {% if is_granted('ROLE_STUDENT_DELETE') %}
                <th scope="col" class="text-center mobile-hidden-td">{{ 'Delete' | trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for eleve in eleves %}
            <tr data-id="{{ eleve.id }}" data-trigger="{{ path('eleve_edit', {'id': eleve.id}) }}">
                <td class="search-target">{{ eleve.lastName }}</td>
                <td class="search-target">{{ eleve.firstName }}</td>
                <td class="mobile-hidden-td search-target">{{ eleve.birthday|date('d/m/Y') }}</td>

                <td class="text-center">
                    {% if eleve.classes|length > 0 %}
                        <a href="{{ path('student_view_classes', {'id': eleve.id} ) }}">
                            <i class="fas fa-eye"></i> ({{ eleve.classes|length }})
                        </a>
                    {% else %}
                        <span>0</span>
                    {% endif %}
                </td>

                {% if is_granted('ROLE_STUDENT_EDIT') %}
                    {% set params = (redirect is defined) ? {'id': eleve.id, 'redirect': redirect} : {'id': eleve.id} %}
                    <td class="text-center mobile-hidden-td">
                        <a href="{{ path('eleve_edit', params) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                {% endif %}

                {% if is_granted('ROLE_STUDENT_DELETE') %}
                    <td class="text-center mobile-hidden-td">
                        <div data-target="eleve"
                             data-targetid="{{ eleve.id }}"
                             data-action="{{ path('eleve_delete', {'id': eleve.id}) }}"
                             data-class="fas fa-trash"
                             data-csrf="{{ csrf_token('eleve_delete' ~ eleve.id) }}"
                        >
                        </div>
                    </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td class="text-center" colspan="6">{{ 'No student found' | trans }}</td>
            </tr>
            <tr>
                <td class="text-center" colspan="6">{{ 'Ensure you have students registered to your classes' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block functionnalities %}
    {% if is_granted('ROLE_STUDENT_CREATE') %}
        <a href="{{ path('eleve_add') }}">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}


{% block functionnalitiesMobile %}
    {% if is_granted('ROLE_STUDENT_CREATE') %}
        <a href="{{ path('eleve_add') }}">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}