{% extends 'base.html.twig' %}

{% block title %}Eleve{% endblock %}

{% block body %}
    <h1>Eleve</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ eleve.lastName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ eleve.firstName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('eleves') }}">back to list</a>

    <a href="{{ path('eleve_edit', {'id': eleve.id}) }}">edit</a>

{% endblock %}
