<div class="container-fluid">

    <div class="row" id="container">
        <div class="col-sm-4 dropdown-menu" id="navbar">
            <div class="dropdown-item">{{ "The notebook" | trans }}</div>
            <div class="dropdown-item">{{ "The activities" | trans }}</div>
            <div class="dropdown-item">{{ "The school report" | trans }}</div>
            <div class="dropdown-item">{{ "The pupils" | trans }}</div>
            <div class="dropdown-item">{{ "The classes" | trans }}</div>
            <div class="dropdown-item">{{ "The schools and implantation" | trans }}</div>
            <div class="dropdown-item">{{ "The users" | trans }}</div>
        </div>
    </div>

</div>


