{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * List ALL available student contacts.
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Student contacts' | trans }} {% endblock %}


{% block title %}
    {{ 'Student contacts' | trans }}

    {# Desktop add student contact button #}
    {% if is_granted('ROLE_STUDENT_EDIT') %}
        <a href="{{ path('student_add_contact', {'id': student.id}) }}" title="Add student contact" class="add-button">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}

{% endblock %}


{% block titleBottom %}
    {% set placeholder = 'Search for contact'|trans %}
    {% include '_partials/search.html.twig' %}
{% endblock %}


{% block body %}
<div class="full-width">
    {% include '_partials/go-back.html.twig' %}
    {# Medical contacts #}
    {% set vars = {
        'contactsRelations': medicalContactsRelations,
        'noContactMessage': 'No medical contact found',
        'title': 'Medical',
        'titleIcon': 'fas fa-briefcase-medical',
        'hiddenReport': true,
    } %}
    {% include 'students/_partials/contact-table.html.twig' with vars %}

    {# Parents contacts #}
    {% set vars = {
        'contactsRelations': parentsContactsRelations,
        'noContactMessage': 'No student parents contact found',
        'class': 'margin-plus',
        'title': 'Parents',
        'titleIcon': 'fas fa-user-friends',
    } %}
    {% include 'students/_partials/contact-table.html.twig' with vars%}

    {# Other contacts types #}
    {% set vars = {
        'contactsRelations': otherContactsRelations,
        'noContactMessage': 'No student contact found',
        'class': 'margin-plus',
        'title': 'Other contacts',
        'titleIcon': 'fas fa-id-card',
    } %}
    {% include 'students/_partials/contact-table.html.twig' with vars%}
</div>
{% endblock %}


{# Include needed Javascript files #}
{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}