{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Add student contact' | trans }} {% endblock %}
{% block title %} {{ 'Add student contact' | trans }} {% endblock %}

{% block body %}
    <div class="full-width flex column">
        {% include 'go-back.html.twig' %}

        <div class="form-content">
            {{ form_start(form) }}

            <div class="flex">
                <div class="width-50-percent form-row margin-right">
                    {# Contact first name #}
                    {{ form_label(form.firstName, 'Name'|trans) }}
                    {{ form_widget(form.firstName) }}
                    <span class="form-error"> {{ form_errors(form.firstName) }} </span>
                </div>
                <div class="width-50-percent form-row margin-left">
                    {# Contact last name #}
                    {{ form_label(form.lastName, 'First name'|trans) }}
                    {{ form_widget(form.lastName) }}
                    <span class="form-error"> {{ form_errors(form.lastName) }} </span>
                </div>
            </div>

            <div class="flex">
                <div class="width-50-percent form-row margin-right">
                    {# Contact email #}
                    {{ form_label(form.email, 'Mail address'|trans) }}
                    {{ form_widget(form.email) }}
                    <span class="form-error"> {{ form_errors(form.email) }} </span>
                </div>

                <div class="width-50-percent form-row margin-left">
                    {# Contact phone #}
                    {{ form_label(form.phone, 'Phone'|trans) }}
                    {{ form_widget(form.phone) }}
                    <span class="form-error"> {{ form_errors(form.phone) }} </span>
                </div>

            </div>

            {# Contact address #}
            <div class="form-row">
                {{ form_label(form.address, 'Address'|trans) }}
                {{ form_widget(form.address) }}
                <span class="form-error">
                    {{ form_errors(form.address) }}
                </span>
            </div>

            <div class="flex">
                <div class="width-50-percent form-row margin-right">
                    {# Contact relation with current student #}
                    {{ form_label(form.relation, 'Relation'|trans) }}
                    <select name="student_contact[relation]" id="student_contact_relation" class="full-width">
                        {% for key, choice in form.relation.vars.choices %}
                            <option value="{{ choice.value }}">{{ choice.label|trans }}</option>
                        {% endfor %}
                    </select>
                    {% do form.relation.setRendered() %}
                </div>

                <div class="width-50-percent form-row margin-left">
                    {# Contact sent student school report #}
                    {{ form_label(form.schoolReport, 'Send school report'|trans) }}
                    <select name="student_contact[schoolReport]" id="student_contact_schoolReport" class="full-width">
                        {% for key, choice in form.schoolReport.vars.choices %}
                            <option value="{{ choice.value }}">{{ choice.label|trans }}</option>
                        {% endfor %}
                    </select>
                    {% do form.schoolReport.setRendered() %}
                </div>
            </div>

            {# Submit button #}
            {{ form_row(form.submit, {
                'label': 'Send'|trans,
                'attr': {'class': 'margin-15'},
            }) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}