{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * Single contact details view, allowing actions as send mail, direct call, etc...
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Contact details' | trans }} {% endblock %}
{% block title %} {{ 'Contact details' | trans }} {% endblock %}

{% block body %}
    <div class="full-width">
        {% include '_partials/go-back.html.twig' %}

        {# Mobile - Init contact actions #}
        <div id="mobile-contact-actions" class="shadow">
            {# Send a mail to contact #}
            <div>
                <a href="{{ path('send_mail', {'user': app.user.id, 'studentContact': contact.id}) }}">
                    <i class="fas fa-envelope-open-text"></i>
                </a>
            </div>

            {# Send an sms to the contact #}
            <div>
                <a href="sms: {{ contact.phone }}"><i class="fas fa-sms"></i></a>
            </div>

            {# Give a call to the contact #}
            <div>
                <a href="tel:{{ contact.phone }}"><i class="fas fa-phone-square-alt"></i></a>
            </div>
        </div>

        {# Contact details as a table #}
        <table id="contact-details" class="full-width">
            <tr>
                <th>{{ 'First name'|trans }}:</th>
                <td>{{ contact.firstName }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}:</th>
                <td>{{ contact.lastName }}</td>
            </tr>
            <tr>
                <th>{{ 'Address'|trans }}:</th>
                <td>{{ contact.address }}</td>
            </tr>
            <tr>
                <th>{{ 'Email' }}:</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>{{ 'Phone'|trans }}:</th>
                <td>{{ contact.phone }}</td>
            </tr>
        </table>

        {# Send mail - desktop only #}
        <div id="contact-send-mail" class="mobile-hidden margin-15">
            <a href="{{ path('send_mail', {'user': app.user.id, 'studentContact': contact.id}) }}">
                <i class="fas fa-envelope-open-text"></i>
                <span class="margin-left">{{ 'Send a mail to contact'|trans }}</span>
            </a>
        </div>

    </div>
{% endblock %}