{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * Add new student form.
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %}
    {{ student.id is defined ? 'Edit'|trans : 'Add'|trans }}
{% endblock %}

{% block title %}
    {{ student.id is defined ? 'Edit'|trans : 'Add'|trans }}
{% endblock %}

{% block body %}
    <div class="full-width flex column">
        {% include '_partials/go-back.html.twig' %}

        <div class="form-content">
            {{ form_start(form) }}

            {# Student last name #}
            <div class="form-row">
                {{ form_label(form.lastName, 'Name'|trans) }}
                {{ form_widget(form.lastName) }}
                <span class="form-error">
                    {{ form_errors(form.lastName) }}
                </span>
            </div>

            {# Student first name #}
            <div class="form-row">
                {{ form_label(form.firstName, 'First name'|trans) }}
                {{ form_widget(form.firstName) }}
                <span class="form-error">
                    {{ form_errors(form.firstName) }}
                </span>
            </div>

            {# Student birthday #}
            <div class="form-row">
                {{ form_label(form.birthday, 'Birthday'|trans) }}
                {{ form_widget(form.birthday) }}
                <span class="form-error">
                    {{ form_errors(form.birthday) }}
                </span>
            </div>


            {# Submit button #}
            {{ form_row(form.submit, {
                'label': 'Send'|trans,
                'attr': {'class': 'margin-15'},
            }) }}

            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
