{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Students' | trans }} {% endblock %}
{% block title %}
    {{ 'Students' | trans }}
    {% set help = {'title': 'students.title', 'intro': 'intro', 'actions': 'students.actions'} %}
    {% include 'help/help-dialog.html.twig' %}
{% endblock %}

{% block titleBottom %}
    {% set placeholder = 'Search for student'|trans %}
    {% include '_partials/search.html.twig' %}
{% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'First name'|trans }}</th>
            <th class="mobile-hidden-td">{{ 'Birthday'|trans }}</th>
            <th class="text-center">{{ 'Classes'|trans }}</th>

            {% if config.useContacts %}
                <th class="text-center">{{ 'Contacts'|trans }}</th>
            {% endif %}

            {% if is_granted('ROLE_STUDENT_EDIT') %}
                <th scope="col" class="text-center">{{ 'Edit' | trans }}</th>
            {% endif %}

            {% if is_granted('ROLE_STUDENT_DELETE') %}
                <th scope="col" class="text-center mobile-hidden-td">{{ 'Delete' | trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td class="js-search-target">{{ student.lastName }}</td>
                <td class="js-search-target">{{ student.firstName }}</td>
                <td class="mobile-hidden-td js-search-target">{{ student.birthday|date('d/m/Y') }}</td>

                <td class="text-center">
                    {% if student.classrooms|length > 0 %}
                        <a href="{{ path('student_view_classrooms', {'id': student.id} ) }}" title="View student classes">
                            <i class="fas fa-clock"></i> ({{ student.classrooms|length }})
                        </a>
                    {% else %}
                        <span>0</span>
                    {% endif %}
                </td>

                {# Contacts and medical contacts #}
                {% if config.useContacts %}
                    {% set contactCount =
                        student.medicalContactsRelations|length +
                        student.parentsContactsRelations|length +
                        student.otherContactsRelations|length
                    %}
                    <td class="text-center">
                        <a href="{{ path('student_view_contacts', {'id': student.id}) }}">
                            <i class="far fa-address-book"></i> ({{ contactCount }})
                        </a>
                    </td>
                {% endif %}

                {% if is_granted('ROLE_STUDENT_EDIT') %}
                    {% set params = (redirect is defined) ? {'id': student.id, 'redirect': redirect} : {'id': student.id} %}
                    <td class="text-center">
                        <a href="{{ path('student_edit', params) }}" title="Edit student">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                {% endif %}

                {% if is_granted('ROLE_STUDENT_DELETE') %}
                    <td class="text-center mobile-hidden-td">
                        <div data-target="student"
                             data-targetid="{{ student.id }}"
                             data-action="{{ path('student_delete', {'id': student.id}) }}"
                             data-class="fas fa-trash"
                             data-csrf="{{ csrf_token('student_delete' ~ student.id) }}"
                        >
                        </div>
                    </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td class="text-center" colspan="8">{{ 'No student found' | trans }}</td>
            </tr>
            <tr>
                <td class="text-center" colspan="8">{{ 'Ensure you have students registered to your classes' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{# Add button desktop / mobile #}
{% set params = {'role': 'ROLE_STUDENT_CREATE', 'route': 'student_add'} %}
{% block functionnalities %} {% include '_partials/add-button.html.twig' with params %} {% endblock %}
{% block functionnalitiesMobile %} {% include '_partials/add-button.html.twig' with params %} {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}