{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{% extends 'base-no-menu.html.twig' %}
{% trans_default_domain 'security' %}

{% block pageTitle %}
    {{ 'Reset password'|trans }}
{% endblock %}

{% block body %}

    <div class="full-width text-center">
        <h1>{{ 'Password Reset Email Sent'|trans }}</h1>

        <p>
            {{ 'An email has been sent that contains a link that you can click to reset your password.'|trans }}
            {{ 'This token will expire soon'|trans }}
        </p>
        <p>{{ "If you don't receive an email please check your spam folder or"|trans }}
            <a id="try-again" href="{{ path('app_forgot_password_request') }}" title="Try again"> {{ 'try again'|trans }}</a>.</p>
    </div>
{% endblock %}
