{% trans_default_domain 'security' %}

<h1>{{ 'Hi!'|trans }}</h1>

<p>
    {{ 'To reset your password, please visit'|trans}}
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" title="Click to reset">
        {{ 'this link'|trans }}
    </a>
    {{ 'The link will expire quickly'|trans }}
</p>

<p>
    {{ 'Cheers!' }}
</p>