{% extends 'base.html.twig' %}

{%  block title %}
    {{ 'schools-implantations.title.add-implantation' | trans({}, 'forms') }}
{%  endblock %}

{% block sidebar %}
    {% include '_partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    {% if implantationForm is defined %}
        {{ form_start(implantationForm) }}
        {{ form_errors(implantationForm) }}

        <div class="row mt-3">
            <div class="col">
                {# The implantation name #}
                {{ form_label(implantationForm.name, 'schools-implantations.label.name-implantation') }}
                {{ form_widget(implantationForm.name, {
                    'attr' : {'class': 'form-control'}
                }) }}
            </div>
            <div class="col">
                {# The implantation address #}
                {{ form_label(implantationForm.address, 'schools-implantations.label.address-implantation') }}
                {{ form_widget(implantationForm.address, {
                    'attr' : {'class': 'form-control'}
                }) }}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                {# The implantation zip code #}
                {{ form_label(implantationForm.zipCode, 'schools-implantations.label.zip-code') }}
                {{ form_widget(implantationForm.zipCode, {
                    'attr' : {'class': 'form-control'}
                }) }}
            </div>
            <div class="col">
                {# The implantation country #}
                {{ form_label(implantationForm.country, 'schools-implantations.label.country') }}
                {{ form_widget(implantationForm.country, {
                    'attr' : {'class': 'form-control'}
                }) }}
            </div>
            <div class="col">
                {# Is implantation default ? #}
                {{ form_label(implantationForm.defaultImplantation, 'schools-implantations.label.is-default-implantation') }}
                {{ form_widget(implantationForm.defaultImplantation, {
                    'attr' : {'class': 'form-control'}
                }) }}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                {# The implantation related school #}
                {{ form_label(implantationForm.ecole, 'schools-implantations.label.school-implantation') }}
                {{ form_widget(implantationForm.ecole, {
                    'attr' : {'class': 'form-control'}
                }) }}
            </div>
        </div>
        <div class="row mt-2 p-1">
            <div class="col">
                {# Submit button #}
                {{ form_row(implantationForm.submit, {'label': 'common.send',
                    'attr': {'class': 'btn btn-primary'}
                }) }}
            </div>
        </div>

        {{ form_end(implantationForm) }}

    {% endif %}
{% endblock %}