{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'edit'|trans }} {% endblock %}
{% block title %}{{ 'edit'|trans }}: {{ implantation.name }} {% endblock %}

{% block body %}

    {{ form(form) }}
    <a href="{{ path('implantations') }}">Back to list</a>

{% endblock %}