{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Implantations' | trans }} {% endblock %}
{% block title %}
    {{ 'Implantations' | trans }}
    {% set help = {'title': 'implantations.title', 'intro': 'intro', 'actions': 'implantations.actions'} %}
    {% include 'help/help-dialog.html.twig' %}
{% endblock %}

{% block titleBottom %}
    {% set placeholder = 'Search for implantation'|trans %}
    {% include '_partials/search.html.twig' %}
{% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
        <tr>
            <th scope="col">{{ 'Implantation' | trans }}</th>

            {% if config.useSchools %}
                <th scope="col">{{ 'School'|trans }}</th>
            {% endif %}

            <th scope="col" class="mobile-hidden-td">{{ 'Address' | trans }}</th>
            <th scope="col" class="text-center">{{ 'Classes'|trans }}</th>

            {% if is_granted('ROLE_IMPLANTATION_EDIT') %}
                <th scope="col" class="text-center">{{ 'Periods'|trans }}</th>
                <th scope="col" class="text-center">{{ 'Edit' | trans }}</th>
            {% endif %}

            {% if is_granted('ROLE_IMPLANTATION_DELETE') %}
                <th scope="col" class="text-center mobile-hidden-td">{{ 'Delete' | trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for implantation in implantations %}
            <tr>
                <td class="js-search-target">{{ implantation.name }}</td>

                {% if config.useSchools %}
                    <td class="js-search-target">{{ implantation.school ? implantation.school : '-' }}</td>
                {% endif %}

                <td class="mobile-hidden-td js-search-target">{{ implantation.address }}</td>

                {# Display implantation class count with a link if user has rights to see clesses. #}
                <td class="text-center">
                    {% if is_granted('ROLE_CLASS_LIST_ALL') %}
                        <a href="{{ path('implantation_view_classrooms', {'id': implantation.id} ) }}" title="View classes">
                            <i class="fas fa-clock"></i> ({{ implantation.classrooms|length }})
                        </a>
                    {% else %}
                        <span>{{ implantation.classrooms|length }}</span>
                    {% endif %}
                </td>

                {# Only those having the implantation edit rights. #}
                {% if is_granted('ROLE_IMPLANTATION_EDIT') %}

                    <!-- Implantation periods -->
                    <td class="text-center">
                        <a href="{{ path('implantation_period_list', {'id': implantation.id}) }}" title="View implantation periods">
                            <i class="fas fa-stopwatch"></i>
                        </a>
                    </td>
                    <!-- Implantation edition -->
                    <td class="text-center">
                        <a href="{{ path('implantation_edit', {'id': implantation.id}) }}" title="Edit implantation">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                {% endif %}

                {# Only those having implantation delete rights. #}
                {% if is_granted('ROLE_IMPLANTATION_DELETE') %}
                    <td class="text-center mobile-hidden-td">
                        <div data-target="implantation"
                             data-targetid="{{ implantation.id }}"
                             data-action="{{ path('implantation_delete', {'id': implantation.id}) }}"
                             data-class="fas fa-trash"
                             data-csrf="{{ csrf_token('implantation_delete' ~ implantation.id) }}"
                        >
                        </div>
                    </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="text-center">
                    {{ 'No implantation found' | trans }}
                </td>
            </tr>
            <tr>
                <td colspan="8" class="text-center">
                    {{ 'You do not have rights to view implantations or no impantation was created'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{# Add button desktop / mobile #}
{% set params = {'role': 'ROLE_IMPLANTATION_CREATE', 'route': 'implantation_add'} %}
{% block functionnalities %} {% include '_partials/add-button.html.twig' with params %} {% endblock %}
{% block functionnalitiesMobile %} {% include '_partials/add-button.html.twig' with params %} {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}