{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Implantations' | trans }} {% endblock %}
{% block title %}
    {{ 'Implantations' | trans }}
    {% set help = {'title': 'implantations.title', 'intro': 'intro', 'actions': 'implantations.actions'} %}
    {% include 'help/help-dialog.html.twig' %}
{% endblock %}

{% block titleBottom %}
    {% set placeholder = 'Search for implantation'|trans %}
    {% include 'search.html.twig' %}
{% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
        <tr>
            <th scope="col">{{ 'Implantation' | trans }}</th>
            <th scope="col" class="mobile-hidden-td">{{ 'Address' | trans }}</th>
            <th scope="col" class="mobile-hidden-td">{{ 'Zip-code' | trans }}</th>
            <th scope="col" class="mobile-hidden-td">{{ 'Country' | trans }}</th>
            <th scope="col" class="text-center">{{ 'Classes'|trans }}</th>

            {% if is_granted('ROLE_IMPLANTATION_EDIT') %}
                <th scope="col" class="text-center mobile-hidden-td">{{ 'Periods'|trans }}</th>
                <th scope="col" class="text-center mobile-hidden-td">{{ 'Edit' | trans }}</th>
            {% endif %}

            {% if is_granted('ROLE_IMPLANTATION_DELETE') %}
                <th scope="col" class="text-center mobile-hidden-td">{{ 'Delete' | trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for implantation in implantations %}
            <tr data-id="{{ implantation.id }}" data-trigger="{{ path('implantation_edit', {'id': implantation.id}) }}">
                <td class="search-target">{{ implantation.name }}</td>
                <td class="mobile-hidden-td search-target">{{ implantation.address }}</td>
                <td class="mobile-hidden-td">{{ implantation.zipCode }}</td>
                <td class="mobile-hidden-td search-target">{{ implantation.country }}</td>

                {# Display implantation class count with a link if user has rights to see clesses. #}
                <td class="text-center">
                    {% if is_granted('ROLE_CLASS_LIST_ALL') %}
                        <a href="{{ path('implantation_view_classrooms', {'id': implantation.id} ) }}" title="View classes">
                            <i class="fas fa-eye"></i> ({{ implantation.classrooms|length }})
                        </a>
                    {% else %}
                        <span>{{ implantation.classrooms|length }}</span>
                    {% endif %}
                </td>

                {# Only those having the implantation edit rights. #}
                {% if is_granted('ROLE_IMPLANTATION_EDIT') %}

                    <!-- Implantation periods -->
                    <td class="text-center mobile-hidden-td">
                        <a href="{{ path('implantation_period_list', {'id': implantation.id}) }}" title="View implantation periods">
                            <i class="fas fa-stopwatch"></i>
                        </a>
                    </td>
                    <!-- Implantation edition -->
                    <td class="text-center mobile-hidden-td">
                        <a href="{{ path('implantation_edit', {'id': implantation.id}) }}" title="Edit implantation">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                {% endif %}

                {# Only those having implantation delete rights. #}
                {% if is_granted('ROLE_IMPLANTATION_DELETE') %}
                    <td class="text-center mobile-hidden-td">
                        <div data-target="implantation"
                             data-targetid="{{ implantation.id }}"
                             data-action="{{ path('implantation_delete', {'id': implantation.id}) }}"
                             data-class="fas fa-trash"
                             data-csrf="{{ csrf_token('implantation_delete' ~ implantation.id) }}"
                        >
                        </div>
                    </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="text-center">
                    {{ 'No implantation found' | trans }}
                </td>
            </tr>
            <tr>
                <td colspan="8" class="text-center">
                    {{ 'You do not have rights to view implantations or no impantation was created'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block functionnalities %}
    {% if is_granted('ROLE_IMPLANTATION_CREATE') %}
        <a href="{{ path('implantation_add') }}" title="Add implantation">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}


{% block functionnalitiesMobile %}
    {% if is_granted('ROLE_IMPLANTATION_CREATE') %}
        <a href="{{ path('implantation_add') }}" title="Add implantation">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}