{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * List ALL available periods for a given implantation.
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Periods' | trans }} {% endblock %}
{% block title %}
    {{ 'Periods' | trans }}
    {# Include help message button #}
    {% set help = {'title': 'periods.title', 'intro': 'periods.intro', 'actions': 'periods.actions'} %}
    {% include 'help/help-dialog.html.twig' %}
{% endblock %}

{% block body %}
    {#
        The .mobile-hidden-to and .mobile-hidden classes makes element hidden on mobile.
    #}
    <div class="flex column full-width">
        {# Include go back template #}
        {% include '_partials/go-back.html.twig' %}

        <p>
            {% if periods|length < 6 %}
                {{ 'You can add up to 6 period for each implantation, the best pratice is to create all of them before the year start'|trans }}
            {% else %}
                {{ 'You already have 6 periods for this implantation, you cannot add a new one'|trans }}
            {% endif %}
            {{ 'You cannot edit or delete a period that is in progress or closed'|trans }}
        </p>

        <table class="full-width margin-15">
            <thead>
                <tr>
                    <th>{{ 'Name' | trans }}</th>
                    <th>{{ 'Start date' | trans }}</th>
                    <th>{{ 'End date' | trans }}</th>
                    <th>{{ 'Status' | trans }}</th>
                    <th class="text-center">{{ 'Edit'|trans }}</th>
                    <th class="text-center mobile-hidden-td">{{ 'Delete'|trans }}</th>
                </tr>
            </thead>
            <tbody>

            {# Display implantation periods. #}
            {% for period in periods %}

                {% set notStarted = period.dateStart > date() %}
                {% set inProgress = not notStarted and period.dateEnd > date() %}

                <tr>
                    {# Period name #}
                    <td>{{ period.name }}</td>

                    {# Period start date #}
                    <td>{{ period.dateStart|date('d/m/Y') }}</td>

                    {# Period end date #}
                    <td data-mobile="0">{{ period.dateEnd|date('d/m/Y') }}</td>
                    <td>
                        {% if notStarted %}
                            <span class="text-yellow">{{ 'Not started'|trans }}</span>
                        {% elseif inProgress %}
                            <span class="text-green text-bold">{{ 'In progress'|trans }}</span>
                        {% else %}
                            <span class="text-red">{{ 'Closed' }}</span>
                        {% endif %}
                    </td>

                    {# Period edit link, only if period isn't closed due to date limit. #}
                    <td class="text-center">
                        {% set editLink %}
                            <a href="{{ path('implantation_period_edit', {'id': period.id}) }}" title="Edit periods">
                                <i class="fas fa-edit"></i>
                            </a>
                        {% endset %}

                        {{ (notStarted) ? editLink : '-' }}
                    </td>

                    {# Period delete link, only if period isn't closed due to date limit. #}
                    <td class="text-center mobile-hidden-td">
                        {% set deleteLink %}
                            {# Those how can edit implantation can delete periods #}
                            {% if is_granted('ROLE_IMPLANTATION_EDIT') %}
                                <div data-target="implantation"
                                     data-targetid="{{ period.id }}"
                                     data-action="{{ path('implantation_periode_delete', {'id': period.id}) }}"
                                     data-class="fas fa-trash"
                                     data-csrf="{{ csrf_token('implantation_period_delete' ~ period.id) }}"
                                >
                                </div>
                            {% endif %}
                        {% endset %}

                        {{ (notStarted) ? deleteLink : '-' }}
                    </td>

                </tr>
            {% else %}
                {# Display no available periods message #}
                <tr>
                    <td colspan="6" class="text-center">
                        {{ 'No period found for this implantation' | trans }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">
                        {{ 'Or you do not have rights to view'|trans }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{# Add button desktop / mobile #}
{% set params = {'role': 'ROLE_IMPLANTATION_EDIT', 'route': 'implantation_period_add', 'params': {'id': implantation.id}} %}
{% block functionnalities %} {% include '_partials/add-button.html.twig' with params %} {% endblock %}
{% block functionnalitiesMobile %} {% include '_partials/add-button.html.twig' with params %} {% endblock %}

{# Include Javascript files #}
{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
{% endblock %}