{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %}
    {{ classroom.id is defined ? 'Edit'|trans : 'Add'|trans }}
{% endblock %}

{% block title %}
    {{ classroom.id is defined ? 'Edit'|trans : 'Add'|trans }}
{% endblock %}

{% block body %}
    <div class="full-width flex column">
        {% include 'go-back.html.twig' %}

        <div class="form-content">
            {{ form_start(form) }}

            {# Class name #}
            <div class="form-row">
                {{ form_label(form.name, 'Name'|trans) }}
                {{ form_widget(form.name) }}
                <span class="form-error">
                    {{ form_errors(form.name) }}
                </span>
            </div>

            {# Class owner - titulaire #}
            <div class="form-row">
                {{ form_label(form.owner, 'Owner'|trans) }}
                {{ form_widget(form.owner) }}
                <span class="form-error">
                    {{ form_errors(form.owner) }}
                </span>
            </div>

            {# Class implantation #}
            <div class="form-row">
                {{ form_label(form.implantation, 'Implantation'|trans) }}
                {{ form_widget(form.implantation) }}
                <span class="form-error">
                    {{ form_errors(form.implantation) }}
                </span>
            </div>


            {# Submit button #}
            {{ form_row(form.submit, {
                'label': 'Send'|trans,
                'attr': {'class': 'margin-15'},
            }) }}

            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}