{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * List ALL available classrooms if user has role CLASS_LIST_ALL, logged in user classrooms otherwise.
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Classes' | trans }} {% endblock %}


{% block title %}
    {{ 'Classes' | trans }}

    {# Display the help message button #}
    {% set help = {'title': 'classes.title', 'intro': 'intro', 'actions': 'classes.actions'} %}
    {% include 'help/help-dialog.html.twig' %}

    {# Desktop add classroom button #}
    {% if is_granted('ROLE_CLASS_CREATE') %}
        <a href="{{ path('classroom_add') }}" title="Add class" class="add-button">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}

{% endblock %}


{% block titleBottom %}
    {% set placeholder = 'Search for class'|trans %}
    {# Including search box. #}
    {% include '_partials/search.html.twig' %}
{% endblock %}


{% block body %}
    {#
        The .mobile-hidden-to and .mobile-hidden classes makes element hidden on mobile.
    #}
    <table class="full-width">
        <thead>
            <tr>
                <th>{{ 'Implantation'|trans }}</th>
                <th>{{ 'Class'|trans }}</th>
                <th class="mobile-hidden-td">{{ 'Owner'|trans }}</th>
                <th class="text-center">{{ 'Students'|trans }}</th>
                <th class="text-center mobile-hidden-td">{{ 'Users'|trans }}</th>

                {% if is_granted('ROLE_CLASS_EDIT') %}
                    <th class="text-center">{{ 'Edit'|trans }}</th>
                {% endif %}

                {% if is_granted('ROLE_CLASS_EDIT_STUDENTS') %}
                    <th class="text-center mobile-hidden-td">{{ 'Manage students'|trans }}</th>
                {% endif %}

                {% if is_granted('ROLE_CLASS_EDIT_USERS') %}
                    <th class="text-center mobile-hidden-td">{{ 'Manage users'|trans }}</th>
                {% endif %}

                {% if is_granted('ROLE_CLASS_DELETE') %}
                    <th class="text-center mobile-hidden-td">{{ 'Delete'|trans }}</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for classroom in classrooms %}
            <tr>
                {# Implantation name #}
                <td class="js-search-target">{{ classroom.implantation }}</td>

                {# Classroom name #}
                <td class="js-search-target">{{ classroom.name }}</td>

                {# Classroom owner #}
                <td class="js-search-target mobile-hidden-td">
                    {# Display << me >> if logged in user is same as classroom owner ( main user )#}
                    {% if app.user is same as(classroom.owner) %}
                        <span><< <strong>{{ 'Me'|trans }}</strong> >></span>
                    {% else %}
                    {# Classroom owner otherwise #}
                        {{ classroom.owner }}
                    {% endif %}
                </td>

                {# Display classroom students count and provide a link to the classroom students list ( edit / delete, ... ) #}
                <td class="text-center">
                    {% if classroom.students|length > 0 %}
                        <a href="{{ path('classroom_view_students', {'id': classroom.id} ) }}" title="View class students">
                            <i class="fas fa-user-graduate"></i> ({{ classroom.students|length }})
                        </a>
                    {% else %}
                        <span>0</span>
                    {% endif %}
                </td>

                {# Display classroom users count and provide a link to the classroom users list ( edit / delete, ... ) #}
                <td class="text-center mobile-hidden-td">
                    {% if classroom.users|length > 0 %}
                        <a href="{{ path('classroom_view_users', {'id': classroom.id} ) }}" title="View class users">
                            <i class="fas fa-users"></i> ({{ classroom.users|length }})
                        </a>
                    {% else %}
                        <span>0</span>
                    {% endif %}
                </td>

                {# Provide edit classroom link if user has rights to edit classrooms #}
                {% if is_granted('ROLE_CLASS_EDIT') %}
                    {% set params = (redirect is defined) ? {'id': classroom.id, 'redirect': redirect} : {'id': classroom.id} %}
                    <td class="text-center">
                        <a href="{{ path('classroom_edit', params) }}" title="Edit class">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                {% endif %}

                {# Provide a link to manage student in the classroom if the logged in user has the right to assign students to a classroom #}
                {% if is_granted('ROLE_CLASS_EDIT_STUDENTS') %}
                    <td class="text-center mobile-hidden-td">
                        <a href="{{ path('classroom_manage_students', {'id': classroom.id}) }}" title="Add students to class">
                            <i class="fas fa-wrench"></i>
                        </a>
                    </td>
                {% endif %}

                {# Provide a link to manage users that have access to the classroom if the logged in user has the right to assign users to a classroom #}
                {% if is_granted('ROLE_CLASS_EDIT_USERS') %}
                    <td class="text-center mobile-hidden-td">
                        <a href="{{ path('classroom_manage_users', {'id': classroom.id}) }}" title="Add users to class">
                            <i class="fas fa-cogs"></i>
                        </a>
                    </td>
                {% endif %}

                {# Provide a link to delete a classroom if user has the right to do it. #}
                {% if is_granted('ROLE_CLASS_DELETE') %}
                    <td class="text-center mobile-hidden-td">
                        <div data-target="classroom"
                             data-targetid="{{ classroom.id }}"
                             data-action="{{ path('classroom_delete', {'id': classroom.id}) }}"
                             data-class="fas fa-trash"
                             data-csrf="{{ csrf_token('classroom_delete' ~ classroom.id) }}"
                        >
                        </div>
                    </td>
                {% endif %}

            </tr>
        {% else %}
            {# Provide message in case no classroom were found for the current logged in user #}
            <tr>
                <td colspan="9" class="text-center">
                    {{ 'No class found'|trans }}
                </td>
            </tr>
            <tr>
                <td colspan="9" class="text-center">
                    {{ 'You do not have rights to view all classes or you do not own any class, contact your EvalBook admin for more help'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{# Import needed Javascripts #}
{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}