{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Classes' | trans }} {% endblock %}
{% block title %}
    {{ 'Classes' | trans }}
    {% set help = {'title': 'classes.title', 'intro': 'intro', 'actions': 'classes.actions'} %}
    {% include 'help/help-dialog.html.twig' %}
{% endblock %}

{% block titleBottom %}
    {% set placeholder = 'Search for class'|trans %}
    {% include 'search.html.twig' %}
{% endblock %}


{% block body %}
    <table class="full-width">
        <thead>
            <tr>
                <th>{{ 'Implantation'|trans }}</th>
                <th>{{ 'Class'|trans }}</th>
                <th class="mobile-hidden-td">{{ 'Owner'|trans }}</th>
                <th class="text-center">{{ 'Students'|trans }}</th>
                <th class="text-center mobile-hidden-td">{{ 'Users'|trans }}</th>

                {% if is_granted('ROLE_CLASS_EDIT') %}
                    <th class="text-center mobile-hidden-td">{{ 'Edit'|trans }}</th>
                {% endif %}

                {% if is_granted('ROLE_CLASS_EDIT_STUDENTS') %}
                    <th class="text-center mobile-hidden-td">{{ 'Manage students'|trans }}</th>
                {% endif %}

                {% if is_granted('ROLE_CLASS_EDIT_USERS') %}
                    <th class="text-center mobile-hidden-td">{{ 'Manage users'|trans }}</th>
                {% endif %}

                {% if is_granted('ROLE_CLASS_DELETE') %}
                    <th class="text-center mobile-hidden-td">{{ 'Delete'|trans }}</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr data-id="{{ classe.id }}" data-trigger="{{ path('classe_edit', {'id': classe.id}) }}">
                <td class="search-target">{{ classe.implantation }}</td>
                <td class="search-target">{{ classe.name }}</td>
                <td class="mobile-hidden-td">
                    {% if app.user is same as(classe.titulaire) %}
                        <span><< <strong>{{ 'Moi'|trans }}</strong> >></span>
                    {% else %}
                        {{ classe.titulaire }}
                    {% endif %}
                </td>

                <td class="text-center">
                    {% if classe.eleves|length > 0 %}
                        <a href="{{ path('classe_view_students', {'id': classe.id} ) }}" title="View class students">
                            <i class="fas fa-eye"></i> ({{ classe.eleves|length }})
                        </a>
                    {% else %}
                        <span>0</span>
                    {% endif %}
                </td>

                <td class="text-center mobile-hidden-td">
                    {% if classe.users|length > 0 %}
                        <a href="{{ path('classe_view_users', {'id': classe.id} ) }}" title="View class users">
                            <i class="fas fa-eye"></i> ({{ classe.users|length }})
                        </a>
                    {% else %}
                        <span>0</span>
                    {% endif %}
                </td>

                {% if is_granted('ROLE_CLASS_EDIT') %}
                    {% set params = (redirect is defined) ? {'id': classe.id, 'redirect': redirect} : {'id': classe.id} %}
                    <td class="text-center mobile-hidden-td">
                        <a href="{{ path('classe_edit', params) }}" title="Edit class">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                {% endif %}

                {% if is_granted('ROLE_CLASS_EDIT_STUDENTS') %}
                    <td class="text-center mobile-hidden-td">
                        <a href="{{ path('classe_manage_students', {'id': classe.id}) }}" title="Add students to class">
                            <i class="fas fa-wrench"></i>
                        </a>
                    </td>
                {% endif %}

                {% if is_granted('ROLE_CLASS_EDIT_USERS') %}
                    <td class="text-center mobile-hidden-td">
                        <a href="{{ path('classe_manage_users', {'id': classe.id}) }}" title="Add users to class">
                            <i class="fas fa-cogs"></i>
                        </a>
                    </td>
                {% endif %}

                {% if is_granted('ROLE_CLASS_DELETE') %}
                    <td class="text-center mobile-hidden-td">
                        <div data-target="classe"
                             data-targetid="{{ classe.id }}"
                             data-action="{{ path('classe_delete', {'id': classe.id}) }}"
                             data-class="fas fa-trash"
                             data-csrf="{{ csrf_token('classe_delete' ~ classe.id) }}"
                        >
                        </div>
                    </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="9" class="text-center">
                    {{ 'No class found'|trans }}
                </td>
            </tr>
            <tr>
                <td colspan="9" class="text-center">
                    {{ 'You do not have rights to view all classes or you do not own any class, contact your EvalBook admin for more help'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block functionnalities %}
    {% if is_granted('ROLE_CLASS_CREATE') %}
        <a href="{{ path('classe_add') }}" title="Add class">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}


{% block functionnalitiesMobile %}
    {% if is_granted('ROLE_CLASS_CREATE') %}
        <a href="{{ path('classe_add') }}" title="Add class">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}