{% trans_default_domain 'templates' %}

{% block head %}
    {{ encore_entry_link_tags('modalWindowCss') }}
    <link rel="stylesheet" type="text/css" href="{{ css }}"/>
{% endblock %}

<div class="school-report">
    {% if not classroom is null %}
        <header id="sr-header">
            <img src="{{ logo }}" alt="school-logo" id="school-logo">
            <h1 id="student-name">{{ student.firstname ~ ' ' ~ student.lastname }}</h1>
            <div id="sr-infos">
                <p><strong>{{ 'Classroom'|trans }} :</strong> {{ classroom.name }}</p>
                <p><strong>{{ 'Owner'|trans }} :</strong> {{ classroom.owner.lastname ~ ' ' ~ classroom.owner.firstname }}</p>
                <p><strong>{{ 'School year'|trans}} :</strong> {{ year }}</p>
                <p><strong>{{ 'Period'|trans}} :</strong> {{ currentPeriod.name }}</p>
            </div>
        </header>

        <main>
            <!-- column titles -->
            <table>
                <tbody>
                    <tr class="skill-row">
                        <th class ="bg">
                            {{ 'Skills'|trans }}
                        </th>
                        <td class ="bg">
                            {{ 'Maximum'|trans }}
                        </td>
                        {% for period in reportData.periods %}
                            <td>
                                {{ period }}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

            <!-- subject table-->
            {% for subject, skills in reportData.subjects %}
                <table>
                    <tbody>
                        <!-- subject name -->
                        <tr class="bg">
                            <th colspan="{{ reportData.periods|length + 2 }}" class="subject-name-content">
                                {{ subject }}
                            </th>
                        </tr>
                        <!-- skills (content to loop) -->
                        {% for line in skills %}
                            <tr class="skill-row">

                                <th class ="bg">
                                    {{ line['skill'].name }}
                                </th>

                                <td class ="bg">
                                    {{ line['skill'].noteType.maximum }}
                                </td>

                                {% for note in line['periods'] %}
                                    <td>
                                        {{ note }}
                                    </td>
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}


            <!-- transversal skills -->
            {% for transversalSkill, skills in reportData.transversalSkills %}
                <table>
                    <tbody>
                    <!-- subject name -->
                    <tr class="bg">
                        <th colspan="{{ reportData.periods|length + 2 }}" class="subject-name-content">
                            {{ transversalSkill }}
                        </th>
                    </tr>
                    <!-- skills (content to loop) -->
                    {% for line in skills %}
                        <tr class="skill-row">

                            <th class ="bg">
                                {{ line['skill'].name }}
                            </th>

                            <td class ="bg">
                                {{ line['skill'].noteType.maximum }}
                            </td>

                            {% for note in line['periods'] %}
                                <td>
                                    {{ note }}
                                </td>
                            {% endfor %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}


            <!-- special classrooms -->
            {% if reportData.specialClassrooms|length > 0 %}
                <table>
                    <tbody>
                    <tr class="bg">
                        <th colspan="{{ reportData.periods|length + 2 }}" class="subject-name-content">
                            {{ 'Special masters'|trans }}
                        </th>
                    </tr>
                    {% for specialClassroomSkill in reportData.specialClassrooms %}
                        <!-- subject name -->
                        <tr class="skill-row">
                            <th class ="bg">
                                {{ specialClassroomSkill['skill'].name }}
                            </th>

                            <td class ="bg">
                                {{ specialClassroomSkill['skill'].noteType.maximum }}
                            </td>

                            <!-- skills (content to loop) -->
                            {% for line in specialClassroomSkill['periods'] %}
                                <td>
                                    {{ line }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}


            <!-- behavior table-->
            {% for behavior, skills in reportData.behaviors %}
                <table>
                    <tbody>
                    <!-- subject name -->
                    <tr class="bg">
                        <th colspan="{{ reportData.periods|length + 2 }}" class="subject-name-content">
                            {{ behavior }}
                        </th>
                    </tr>
                    <!-- skills (content to loop) -->
                    {% for line in skills %}
                        <tr class="skill-row">

                            <th class ="bg">
                                {{ line['skill'].name }}
                            </th>

                            <td class ="bg">
                                {{ line['skill'].noteType.maximum }}
                            </td>

                            {% for note in line['periods'] %}
                                <td>
                                    {{ note }}
                                </td>
                            {% endfor %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}

        </main>
    {% else %}
        <p>
            {{ 'No classroom was found for this student, cannot display the school report'|trans }}
        </p>
    {% endif %}
</div>
