{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block title %}{{ 'schools-implantations.title.edit-list-implantations' | trans }}{% endblock %}

{% block sidebar %}
    {% include '_partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">{{ 'schools-implantations.th.id' | trans }}</th>
            <th scope="col">{{ 'schools-implantations.th.name-implantation' | trans }}</th>
            <th scope="col">{{ 'schools-implantations.th.address' | trans }}</th>
            <th scope="col">{{ 'schools-implantations.th.zip-code' | trans }}</th>
            <th scope="col">{{ 'schools-implantations.th.country' | trans }}</th>
            <th scope="col">{{ 'schools-implantations.th.name-school' | trans }}</th>
            <th scope="col">{{ 'schools-implantations.th.is-default' | trans }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for implantation in implantations %}
            <tr>
                <th scope="row">{{ implantation.id }}</th>
                <td>{{ implantation.name }}</td>
                <td>{{ implantation.address }}</td>
                <td>{{ implantation.zipCode }}</td>
                <td>{{ implantation.country }}</td>
                <td>{{ implantation.ecole.name }}</td>
                <td>
                    {% if implantation.isDefaultImplantation %}
                        {{ 'global.confirm.yes' | trans }}
                    {% else %}
                        {{ 'global.confirm.no' | trans }}
                    {% endif %}
                </td>
                <td>
                    <i style="cursor: pointer;" class="far fa-edit" data-toggle="modal" data-target="#modal-right-implantation-{{ implantation.id }}"></i>
                    {% include 'schools_implantations/implantation-edit-form.html.twig' with {'form' : implantationsForms[implantation.id], 'id': implantation.id} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'schools-implantations.not-found-implantation' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}