{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block title %}{{ 'schools-implantations.title.list-implantations' | trans }}{% endblock %}

{% block sidebar %}
    {% include '_partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">{{ 'schools-implantations.th.id' | trans }}</th>
            <th scope="col">{{ 'schools-implantations.th.name-implantation' | trans }}</th>
            <th scope="col">{{ 'schools-implantations.th.name-school' | trans }}</th>
            <th scope="col">{{ 'schools-implantations.th.address' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for implantation in implantations %}
            <tr>
                <th scope="row">{{ implantation.id }}</th>
                <td>{{ implantation.name }}</td>
                <td>{{ implantation.ecole.name }}</td>
                <td>
                    {{ implantation.address }}, {{ implantation.zipCode }} {{ implantation.country }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'schools-implantations.th.not-found-implantation' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}