{% extends 'base.html.twig' %}

{% block title %}{{ 'Implantations list' | trans }}{% endblock %}

{% block sidebar %}
    {% include '_partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">{{ 'Id' | trans }}</th>
            <th scope="col">{{ 'Name' | trans }}</th>
            <th scope="col">{{ 'School' | trans }}</th>
            <th scope="col">{{ 'Address' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for implantation in implantations %}
            <tr>
                <th scope="row">{{ implantation.id }}</th>
                <td>{{ implantation.name }}</td>
                <td>{{ implantation.ecole.name }}</td>
                <td>
                    {{ implantation.address }}, {{ implantation.zipCode }} {{ implantation.country }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'No implantation found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}