{% extends 'base.html.twig' %}

{% block body %}

    {% include 'sidebar.html.twig' %}

    <div class="col-md-8 container">
        <ul>
            <li><a href="{{ path('users_list') }}">Voir la liste des écoles</a></li>
            <li><a href="{{ path('users_add') }}">Ajouter une école</a></li>
            <li><a href="{{ path('users_edit') }}">Modifier une école</a></li>
            <li><a href="{{ path('users_delete') }}">Supprimer une école</a></li>

            <li><a href="{{ path('users_list') }}">Voir la liste des implantations</a></li>
            <li><a href="{{ path('users_add') }}">Ajouter une implantation</a></li>
            <li><a href="{{ path('users_edit') }}">Modifier une implantation</a></li>
            <li><a href="{{ path('users_delete') }}">Supprimer une implantation</a></li>
        </ul>
    </div>
{% endblock %}