{% extends 'base.html.twig' %}

{% block title %}{{ 'Schools edit' | trans }}{% endblock %}

{% block sidebar %}
    {% include '_partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">{{ 'Id' | trans }}</th>
            <th scope="col">{{ 'Name' | trans }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <th scope="row">{{ school.id }}</th>
                <td>{{ school.name }}</td>
                <td>
                    <i style="cursor: pointer;" class="far fa-edit" data-toggle="modal" data-target="#modal-right-school-{{ school.id }}"></i>
                    {% include 'schools_implantations/school-edit-form.html.twig' with {'form' : schoolsForms[school.id], 'id': school.id} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'No schools found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}