{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block title %}{{ 'schools-implantations.title.list-schools' | trans }}{% endblock %}

{% block sidebar %}
    {% include '_partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">{{ 'schools-implantations.th.id' | trans }}</th>
            <th scope="col">{{ 'schools-implantations.th.name-school' | trans }}</th>
            <th scope="col">{{ 'schools-implantations.th.implantations-count' | trans }}</th>
            <th scope="col">{{ 'schools-implantations.th.implantation-default' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <th scope="row">{{ school.id }}</th>
                <td>{{ school.name }}</td>
                <td>{{ school.implantations | length }}</td>
                <td>
                    {% for implantation in school.implantations %}

                        {% if implantation.isDefaultImplantation %}
                            {{ implantation.name }}
                        {% endif %}

                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'schools-implantations.not-found-school' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}