{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Notebooks' | trans }} {% endblock %}
{% block title %}{{ 'Select a class you own' | trans }}{% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
        <tr>
            <th>{{ 'Implantation'|trans }}</th>
            <th>{{ 'Class'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td>{{ classe.implantation }}</td>
                <td>{{ classe.name }}</td>
                <td>
                    {% if classe.activites|length > 0 %}
                        <a href="{{ path('note_book_view', {'classe': classe.id} ) }}" title="View this notebook">
                            <i class="fas fa-eye"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">
                    {{ 'You do not have any class'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}