{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Notebooks' | trans }} {% endblock %}
{% block title %}{{ 'Select a class you own' | trans }}{% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
        <tr>
            <th>{{ 'Implantation'|trans }}</th>
            <th>{{ 'Class'|trans }}</th>
            <th>{{ 'Owner'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for classroom in classrooms %}
            <tr>
                <td>{{ classroom.implantation }}</td>
                <td>{{ classroom.name }}</td>
                <td>
                    {% if app.user is same as(classroom.owner) %}
                        <span><< <strong>{{ 'Me'|trans }}</strong> >></span>
                    {% else %}
                        {{ classroom.owner }}
                    {% endif%}
                </td>
                <td>
                    {% if classroom.activities|length > 0 %}
                        <a href="{{ path('note_book_view', {'classroom': classroom.id} ) }}" title="View this notebook">
                            <i class="fas fa-eye"></i>
                        </a>
                    {% else %}
                        <span class="text-center">-</span>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">
                    {{ 'You do not have any class'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}