{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %}
    {{ implantation.id is defined ? 'Edit'|trans : 'Add'|trans }}
{% endblock %}

{% block title %}
    {{ implantation.id is defined ? 'Edit'|trans : 'Add'|trans }}
{% endblock %}

{% block body %}
    <div class="full-width flex column">
        <a class="go-back" href="{{ app.request.headers.get('referer') }}">
            <i class="fas fa-long-arrow-alt-left"></i>
        </a>

        <div class="form-content">
            {{ form_start(form) }}

            {# Implantation name #}
            <div class="form-row">
                {{ form_label(form.name, 'Name'|trans) }}
                {{ form_widget(form.name) }}
                <span class="form-error">
                    {{ form_errors(form.name) }}
                </span>
            </div>

            {# Implantation address #}
            <div class="form-row">
                {{ form_label(form.address, 'Address'|trans) }}
                {{ form_widget(form.address) }}
                <span class="form-error">
                    {{ form_errors(form.address) }}
                </span>
            </div>

            {# Implantation zip code #}
            <div class="form-row">
                {{ form_label(form.zipCode, 'Zip-code'|trans) }}
                {{ form_widget(form.zipCode) }}
                <span class="form-error">
                    {{ form_errors(form.zipCode) }}
                </span>
            </div>


            {# Implantation country #}
            <div class="form-row">
                {{ form_label(form.country, 'Country'|trans) }}
                {{ form_widget(form.country) }}
                <span class="form-error">
                    {{ form_errors(form.country) }}
                </span>
            </div>

            {# Submit button #}
            {{ form_row(form.submit, {
                'label': 'Send'|trans,
                'attr': {'class': 'margin-15'},
            }) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}