{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Implantations' | trans }} {% endblock %}
{% block title %}{{ 'Implantations' | trans }}{% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
        <tr>
            <th scope="col">{{ 'Implantations' | trans }}</th>
            <th scope="col">{{ 'Address' | trans }}</th>
            <th scope="col" data-mobile="0">{{ 'Zip-code' | trans }}</th>
            <th scope="col">{{ 'Country' | trans }}</th>
            <th scope="col" class="text-center" data-mobile="0">{{ 'Edit' | trans }}</th>
            <th scope="col" class="text-center" data-mobile="0">{{ 'Delete' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for implantation in implantations %}
            <tr data-id="{{ implantation.id }}" data-trigger="{{ path('implantation_edit', {'id': implantation.id}) }}">
                <td>{{ implantation.name }}</td>
                <td>{{ implantation.address }}</td>
                <td data-mobile="0">{{ implantation.zipCode }}</td>
                <td>{{ implantation.country }}</td>
                <td class="text-center" data-mobile="0">
                    <a href="{{ path('implantation_edit', {'id': implantation.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td class="text-center" data-mobile="0">
                    <div data-target="implantation"
                         data-targetid="{{ implantation.id }}"
                         data-action="{{ path('implantation_delete', {'id': implantation.id}) }}"
                         data-class="fas fa-trash"
                         data-csrf="{{ csrf_token('implantation_delete' ~ implantation.id) }}"
                    >
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'No implantation found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block functionnalities %}
    <a href="{{ path('implantation_add') }}">
        <i class="fas fa-plus"></i>
    </a>
{% endblock %}


{% block functionnalitiesMobile %}
    <a href="{{ path('implantation_add') }}">
        <i class="fas fa-plus"></i>
    </a>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
{% endblock %}