{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'School reports' | trans }} {% endblock %}
{% block title %} {{ 'School reports'|trans }} {% endblock %}

{% block titleBottom %}
    {# Include search box #}
    <div class="text-center margin-bottom">
        {{ 'Click the school report icon on a selected student or click view all button to view all available school reports'|trans }}

        {# Button to display "Whole classroom" school report #}
        <button class="button-ok" id="js-school-report-all" data-path="{{ classroom.id }}">
            {{ 'View all'|trans }}
        </button>

    </div>
    {% set placeholder = 'Search for student'|trans %}
    {% include '_partials/search.html.twig' %}
{% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'First name'|trans }}</th>
            <th class="text-center">{{ 'School reports'|trans }}</th>
        </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.firstName }}</td>
                    <td class="text-center">
                        <a href="{{ path('school_report_individual', {'student': student.id}) }}">
                            <i class="far fa-file-alt"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'You do not have any student in your class'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{# Include Javascript files. #}
{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
    {{ encore_entry_script_tags('modalSchoolReport') }}
    {{ encore_entry_script_tags('controlSchoolReports') }}
{% endblock %}
