{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Activities'|trans }} {% endblock %}
{% block title %} {{ 'Activities'|trans }} {% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
            <tr>
                <th>{{ 'Class'|trans }}</th>
                <th>{{ 'User'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th{{ 'Date'|trans }}></th>
                <th class="text-center">{{ 'View'|trans }}</th>
                <th class="text-center">{{ 'Note'|trans }}</th>
                <th class="text-center">{{ 'Edit'|trans }}</th>
                <th class="text-center">{{ 'Delete'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            {% set owner = (activite.user is same as(app.user)) ? true : false %}
            <tr>
                <td>{{ activite.classe }}</td>
                <td>{{ activite.user }}</td>
                <td>{{ activite.name }}</td>
                <td>{{ activite.dateAdded|date('d/m/Y') }}</td>

                <!-- View actvity -->
                <td class="text-center">
                    <i class="fas fa-eye"></i>
                </td>

                <!-- Note activity -->
                <td class="text-center">
                    {% if owner %}
                        <i class="fas fa-medal text-yellow"></i>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>

                <!-- Edit activity -->
                <td class="text-center">
                    {% if owner %}
                        <i class="fas fa-edit"></i>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>

                <!-- Delete activity -->
                <td class="text-center">
                    {% if owner %}
                        <i class="fas fa-trash"></i>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">
                    {{ 'It sounds like you do not have any activity or any class'|trans }}
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    {{ 'You can create a new one for one of your classe(s) by clicking the "+" button at the bottom of the screen'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


{% block functionnalities %}
    {% if classes|length > 0 %}
        <a href="{{ path('activite_add') }}">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}


{% block functionnalitiesMobile %}
    {% if classes|length > 0 %}
        <a href="{{ path('activite_add') }}">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
{% endblock %}