{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Activities'|trans }} {% endblock %}
{% block title %} {{ 'Activities'|trans }} {% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>
                <td>{{ activite.id }}</td>
                <td>{{ activite.comment }}</td>
                <td>{{ activite.name }}</td>
                <td>
                    <a href="{{ path('activite_view', {'id': activite.id}) }}">show</a>
                    <a href="{{ path('activite_edit', {'id': activite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">
                    {{ 'It sounds like you do not have any activity or any class'|trans }}
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    {{ 'You can create a new one for one of your classe(s) by clicking the "+" button at the bottom of the screen'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


{% block functionnalities %}
    {% if classes|length > 0 %}
        <a href="{{ path('activite_add') }}">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}


{% block functionnalitiesMobile %}
    {% if classes|length > 0 %}
        <a href="{{ path('activite_add') }}">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
{% endblock %}