{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Activities'|trans }} {% endblock %}
{% block title %}
    {{ 'Activities'|trans }}
    {% set help = {'title': 'activites.title', 'intro': 'activites.intro', 'actions': 'activites.actions'} %}
    {% include 'help/help-dialog.html.twig' %}
{% endblock %}

{% block titleBottom %}
    {% set placeholder = 'Search for activity'|trans %}
    {% include 'search.html.twig' %}
{% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
            <tr>
                <th>{{ 'Class'|trans }}</th>
                <th class="mobile-hidden-td">{{ 'User'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th class="mobile-hidden-td">{{ 'Date'|trans }}</th>
                <th class="mobile-hidden-td">{{ 'Period'|trans }}</th>
                <th class="text-center">{{ 'Note'|trans }}</th>
                <th class="text-center mobile-hidden-td">{{ 'Edit'|trans }}</th>
                <th class="text-center mobile-hidden-td">{{ 'Delete'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            {% set owner = (activite.user is same as(app.user)) ? true : false %}
            <tr data-id="{{ activite.id }}" data-trigger="{{ path('activite_edit', {'id': activite.id}) }}">
                <td class="search-target">{{ activite.classe }}</td>
                <td class="mobile-hidden-td search-target">{{ activite.user }}</td>
                <td class="search-target">{{ activite.name }}</td>
                <td class="mobile-hidden-td search-target">{{ activite.dateAdded|date('d/m/Y') }}</td>
                <td class="mobile-hidden-td search-target">{{ activite.periode.name }}</td>

                <!-- Note activity -->
                <td class="text-center">
                    {% if owner %}
                        <a href="{{ path('activite_note_add', {'id': activite.id}) }}">
                            <i class="fas fa-medal text-yellow"></i>
                        </a>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>

                <!-- Edit activity -->
                <td class="text-center mobile-hidden-td">
                    {% if owner %}
                        <a href="{{ path('activite_edit', {'id': activite.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>

                <!-- Delete activity -->
                <td class="text-center mobile-hidden-td">
                    {% if owner %}
                        <div data-target="activite"
                             data-targetid="{{ activite.id }}"
                             data-action="{{ path('activite_delete', {'id': activite.id}) }}"
                             data-class="fas fa-trash"
                             data-csrf="{{ csrf_token('activite_delete' ~ activite.id) }}"
                        >
                        </div>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="text-center">
                    {{ 'It sounds like you do not have any activity or any class'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


{% block functionnalities %}
    {% if classes|length > 0 %}
        <a href="{{ path('activite_add') }}">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}


{% block functionnalitiesMobile %}
    {% if classes|length > 0 %}
        <a href="{{ path('activite_add') }}">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}