{% extends 'base.html.twig' %}

{% trans_default_domain 'templates' %}

{% block pageTitle %}{{ 'Add notes' | trans }}{% endblock %}

{% block title %}
    {{ 'Add notes for this activity' | trans }}
    {% set help = {'title': 'notes.title', 'intro': 'notes.intro', 'actions': 'notes.use'} %}
    {% include 'help/help-dialog.html.twig' %}
{% endblock %}

{% block body %}
    {% if form.notes|length > 0 %}
        {{ form_start(form) }}
    {% endif %}

    <table class="full-width" id="activite-notes">
        <thead>
        <tr>
            <th>{{ 'Comment'|trans }}</th>
            <th>{{ 'Type'|trans }}</th>
            <th class="text-center">{{ 'Note'|trans }}</th>
        </tr>
        </thead>
        <tbody>


        {% for note in form.notes %}
            <tr>
                <td class="large">
                    {{ note.eleve.vars.value }}
                    {% do note.eleve.setRendered() %}
                    {{ form_row(note.comment) }}
                </td>
                <td>{{ 'From'|trans }}
                    {{ activity.noteType.ponderation|replace({'..' : (' ' ~ 'to'|trans ~ ' ') }) }}
                </td>
                <td class="bg-yellow small text-center">{{ form_row(note.note) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">
                    {{ 'You do not have any student in your class'|trans }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% if form.notes|length > 0 %}
        {# Submit button #}
        {{ form_row(form.submit, {
            'label': 'Send'|trans,
            'attr': {'class': 'margin-15'},
        }) }}

        {{ form_end(form) }}
    {% endif %}

{% endblock %}