{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * Allow a classroom owner / user to add an activity.
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %}{{ 'Add activity'|trans }}{% endblock %}
{% block title %}{{ 'Add activity'|trans }}{% endblock %}

{% block body %}
    <div class="full-width flex column">
        {% include '_partials/go-back.html.twig' %}

        <div class="form-content">
            {% if form.period.vars.choices|length > 0 %}
                {% if form.activityThemeDomains.vars.choices|length > 0 and form.activityThemeDomainSkill.vars.choices|length > 0 %}
                    {{ form_start(form) }}

                    {# Activity theme domain #}
                    {% do form.activityThemeDomains.setRendered() %}

                    <div class="form-row display-row">

                        {# Activity skill #}
                        <div class="width-50-percent margin-right">
                            {{ form_label(form.activityThemeDomainSkill, 'Skill'|trans) }}
                            {{ form_widget(form.activityThemeDomainSkill, {'attr': {
                                'class': 'full-width',
                            }}) }}
                            <span class="form-error"></span>
                        </div>

                        {# Activity period ( Only not closed periods are returned by controller ) #}
                        <div class="width-50-percent margin-left">
                            {{ form_label(form.period, 'Period'|trans) }}
                            {{ form_widget(form.period, {'attr' : {
                                'class' : 'full-width',
                            }} ) }}
                        </div>
                    </div>

                    <div class="form-row display-row">
                        {# Activity note type #}
                        <div class="width-50-percent margin-left">
                            {{ form_label(form.noteType, 'Note type'|trans) }}
                            {{ form_widget(form.noteType, {'attr': {
                                'class': 'full-width',
                            }}) }}
                            <span class="form-info margin-left">
                                {{ 'Select a note type or'|trans }}
                                <a href="{{ path('note_type_add', {'classroom': classroomId}) }}">{{ 'add a new one'|trans }}</a>
                            </span>
                        </div>

                        <div class="form-row width-50-percent margin-left">
                            {{ form_label(form.coefficient, 'Coefficient to apply'|trans) }}
                            {{ form_widget(form.coefficient, {'attr': {
                                'class': 'full-width',
                            }}) }}
                            <span class="form-info">
                                {{ 'The default coefficient is 1'|trans }}
                            </span>
                            <span class="form-error">
                                {{ form_errors(form.coefficient) }}
                            </span>
                        </div>
                    </div>

                    {# Activity name #}
                    <div class="form-row">
                        {{ form_label(form.name, 'Name'|trans) }}
                        {{ form_widget(form.name, {'attr': {
                            'class': 'full-width'
                        }}) }}
                        <span class="form-error">
                            {{ form_errors(form.name) }}
                        </span>
                    </div>

                    {# Activity should appear in the school report ? #}
                    <div class="form-row">
                        {{ form_label(form.isInShoolReport, 'Is in school report ?'|trans) }}
                        {{ form_widget(form.isInShoolReport, {'attr': {
                            'class': 'full-width'
                        }}) }}
                    </div>

                    {# Activity comment #}
                    <div class="form-row">
                        {{ form_label(form.comment, 'Comment'|trans) }}
                        {{ form_widget(form.comment) }}
                    </div>


                    {# Needed to fetch classroom domain skills #}
                    <input type="hidden" name="classroom" id="classroom" value="{{ classroomId }}">

                    {# Submit button #}
                    {{ form_row(form.submit, {
                        'label': 'Send'|trans,
                        'attr': {'class': 'margin-15'},
                    }) }}

                    {{ form_end(form) }}
                {% else %}
                    <span>{{ 'You do not use default activities domains values and do not have your own domains nor skill, add new ones via your dashboard before add an activity'|trans }}</span>
                {% endif %}
            {% else %}
                <span>{{ 'Unable to add new activities, no active period detected'|trans }}</span>
            {% endif %}
        </div>

    </div>
{% endblock %}