{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * Allow a classroom owner / user to add an activity.
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %}{{ 'Add activity'|trans }}{% endblock %}
{% block title %}{{ 'Add activity'|trans }}{% endblock %}

{% block body %}
    <div class="full-width flex column">
        {% include '_partials/go-back.html.twig' %}

        <div class="form-content">
            {% if form.period.vars.choices|length > 0 %}
                {{ form_start(form) }}

                <div class="form-row display-row">
                    {# Activity type child #}
                    <div class="width-50-percent margin-right">
                        {{ form_label(form.activityTypeChildren, 'Activity type'|trans) }}
                        {{ form_widget(form.activityTypeChildren, {'attr' : {
                            'class' : 'full-width',
                        }} ) }}
                    </div>

                    {# Activity period ( Only not closed periods are returned by controller ) #}
                    <div class="width-50-percent margin-left">
                        {{ form_label(form.period, 'Period'|trans) }}
                        {{ form_widget(form.period, {'attr' : {
                            'class' : 'full-width',
                        }} ) }}
                    </div>
                </div>

                <div class="form-row display-row">
                    {# Activity knowledge type #}
                    <div class="width-50-percent margin-right hidden">
                        {{ form_label(form.knowledgeType, 'Knowledge type'|trans) }}
                        {{ form_widget(form.knowledgeType, {'attr': {
                            'class': 'full-width',
                        }}) }}
                    </div>

                    {# Activity note type #}
                    <div class="width-50-percent margin-left hidden">
                        {{ form_label(form.noteType, 'Note type'|trans) }}
                        {{ form_widget(form.noteType, {'attr': {
                            'class': 'full-width',
                        }}) }}
                        <span class="form-info">
                            {{ 'Select a note type or'|trans }}
                            <a href="{{ path('note_type_add', {'classroom': classroomId}) }}">{{ 'add a new one'|trans }}</a>
                        </span>
                    </div>
                </div>

                {# Activity name #}
                <div class="form-row hidden">
                    {{ form_label(form.name, 'Name'|trans) }}
                    {{ form_widget(form.name) }}
                    <span class="form-error">
                        {{ form_errors(form.name) }}
                    </span>
                </div>

                {# Activity comment #}
                <div class="form-row">
                    {# { form_label(form.comment, 'Comment'|trans) } #}
                    {{ form_widget(form.comment) }}
                </div>

                {# Submit button #}
                {{ form_row(form.submit, {
                    'label': 'Send'|trans,
                    'attr': {'class': 'margin-15 hidden'},
                }) }}

                {{ form_end(form) }}
            {% else %}
                <span>{{ 'Unable to add new activities, no active period detected'|trans }}</span>
            {% endif %}
        </div>

    </div>
{% endblock %}


{# Import needed Javascripts #}
{% block javascripts %}
    {{ encore_entry_script_tags('activity') }}
{% endblock %}