{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Activities'|trans }} {% endblock %}
{% block title %}
    {{ 'Activities'|trans }}
    {% set help = {'title': 'activities.title', 'intro': 'activities.intro', 'actions': 'activities.actions'} %}
    {% include 'help/help-dialog.html.twig' %}
{% endblock %}

{% block titleBottom %}
    {% set placeholder = 'Search for activity'|trans %}
    {% include 'search.html.twig' %}
{% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
            <tr>
                <th>{{ 'Class'|trans }}</th>
                <th class="mobile-hidden-td">{{ 'User'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th class="mobile-hidden-td">{{ 'Date'|trans }}</th>
                <th class="mobile-hidden-td">{{ 'Period'|trans }}</th>
                <th class="text-center">{{ 'Note'|trans }}</th>
                <th class="text-center">{{ 'Edit'|trans }}</th>
                <th class="text-center mobile-hidden-td">{{ 'Delete'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}

            {% set owner = (activity.user is same as(app.user)) ? true : false %}
            {% set editable = activity.period.dateEnd >= date() %}

            <tr>
                <td class="js-search-target">{{ activity.classroom }}</td>

                <td class="mobile-hidden-td js-search-target">
                    {%  if owner %}
                        <span><< <strong>{{ 'Me'|trans }}</strong> >></span>
                    {% else %}
                        {{ activity.user }}
                    {% endif %}
                </td>

                <td class="js-search-target">{{ activity.name }}</td>
                <td class="mobile-hidden-td js-search-target">{{ activity.dateAdded|date('d/m/Y') }}</td>
                <td class="mobile-hidden-td js-search-target">{{ activity.period.name }}</td>

                <!-- Note activity -->
                <td class="js-search-target text-center">
                    {% if owner and editable %}
                        <a href="{{ path('activity_note_add', {'id': activity.id}) }}" title="Add activity notes">
                            {% set cssClass = activity.notes|length > 0 ? 'text-yellow' : 'text-red'  %}
                            <i class="fas fa-medal {{ cssClass }}"></i>
                        </a>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>

                <!-- Edit activity -->
                <td class="text-center">
                    {% if owner and editable %}
                        <a href="{{ path('activity_edit', {'id': activity.id}) }}" title="Edit activity">
                            <i class="fas fa-edit"></i>
                        </a>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>

                <!-- Delete activity -->
                <td class="text-center mobile-hidden-td">
                    {% if owner and editable %}
                        <div data-target="activite"
                             data-targetid="{{ activity.id }}"
                             data-action="{{ path('activity_delete', {'id': activity.id}) }}"
                             data-class="fas fa-trash"
                             data-csrf="{{ csrf_token('activity_delete' ~ activity.id) }}"
                        >
                        </div>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="text-center">
                    {{ 'It sounds like you do not have any activity or any class'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


{% block functionnalities %}
    {% if classrooms|length > 0 %}
        <a href="{{ path('activity_add') }}" title="Add activity">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}


{% block functionnalitiesMobile %}
    {% if classrooms|length > 0 %}
        <a href="{{ path('activity_add') }}" title="Add activity">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}