{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * Add students note for the selected activity.
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %}{{ 'Add notes' | trans }}{% endblock %}


{% block title %}
    {{ 'Add notes for this activity' | trans }}

    {# Display the help dialog with related text #}
    {% set help = {'title': 'notes.title', 'intro': 'notes.intro', 'actions': 'notes.use'} %}
    {% include 'help/help-dialog.html.twig' %}
{% endblock %}


{% block body %}
    {% if form.notes|length > 0 %}
        {{ form_start(form) }}
    {% endif %}

    <table class="full-width" id="activite-notes">
        <thead>
        <tr>
            <th>{{ 'Comment'|trans }}</th>
            <th>{{ 'Type'|trans }}</th>
            <th class="text-center">{{ 'Note'|trans }}</th>
        </tr>
        </thead>
        <tbody>

        {# Counter is used to specify the tab index order #}
        {% set counter = 0 %}

        {% for note in form.notes %}
            {% set counter = counter + 1 %}
            <tr>
                <td tabindex="-1" class="large">
                    {{ note.student.vars.value }}
                    {% do note.student.setRendered() %}
                    {{ form_row(note.comment) }}
                </td>
                <td title="{{ activity.noteType.description }}">
                    {{ activity.noteType.name }}
                </td>
                <td tabindex="{{ counter }}" class="bg-yellow small text-center">{{ form_row(note.note) }}</td>
            </tr>
        {% else %}
            {# Display a message if no student were found for the target classroom #}
            <tr>
                <td colspan="3" class="text-center">
                    {{ 'You do not have any student in your class'|trans }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% if form.notes|length > 0 %}
        {# Submit button #}
        {{ form_row(form.submit, {
            'label': 'Send'|trans,
            'attr': {'class': 'margin-15'},
        }) }}

        {{ form_end(form) }}
    {% endif %}

{% endblock %}