<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, user-scalable=0">

        <title>EvalBook</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- project related stylesheets -->
        <link rel="stylesheet" href="{{ asset('assets/styles/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/styles/modal-right.css') }}" class="src">
        {% block headers %} {% endblock %}

    </head>
    <body>
        <div class="container-fluid">

            <div class="row" id="header">
                <div class="col-lg-8 head-content">
                    <h1><img src="{{ asset('assets/img/logos/logo_evalbook.png') }}"></h1>
                    <h4>{{ "The teachers eval tool" | trans }}</h4>
                </div>

                <div class="col-sm-3">
                    <div class="profile">
                        <p><i class="material-icons">perm_identity</i><span>{{ "My profile" | trans }}</span></p>
                    </div>
                </div>
            </div>

        </div>



        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message | trans }}
                </div>
            {% endfor %}
        {% endfor %}

        <h1>{% block title %}{% endblock %}</h1>

        {% block body %}


        {% endblock %}

        <div class="container-fluid" id="footer">
            <div class="footer-content">
                <div class="col-xs-4">
                    <p>Evalbook<i class="material-icons" id="copyleft">Copyleft</i> - {{ 'now' | date('Y') }}</p>
                    <p>{{ "Project initiated by" | trans }} <a href="https://www.forsud.be/">Forsud ASBL</a></p>
                    <p><a href="https://github.com/EvalBook">{{ "Source code and authors on Github" | trans }}</a></p>
                </div>
                <div class="col-xs-4">
                    <p><a href="#">{{ "Read the user manual" | trans }}</a></p>
                </div>
            </div>
        </div>


        {% block javascripts %}{% endblock %}

    </body>
</html>
