<!DOCTYPE html>
{% trans_default_domain 'templates' %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/logos/favicon.ico') }}" />
    <script src="https://kit.fontawesome.com/af99847773.js" crossorigin="anonymous"></script>

    {{ encore_entry_link_tags('theme') }}
    {{ encore_entry_link_tags('dialogs') }}

    {% block head %} {% endblock %}

    <title>EvalBook - {% block pageTitle %} {% endblock %}</title>
</head>
<body>
    <!-- Display potentials error / success messages -->
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="dialog dialog-{{ label }}">
                {{ message | trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container">
        <header>
            <div class="heading">

                <!-- Header -->
                <div id="logo">
                    <img src="{{ asset('assets/img/logos/logo_evalbook.png') }}" alt="EvalBook logo">
                    <span>{{ 'Teachers evaluation tool'|trans }}</span>
                </div>

                <div id="mobile-header">
                    <div id="mobile-add-functionality">
                        {% block functionnalitiesMobile %} {% endblock %}
                    </div>

                    <div id="mobile-menu-toggle">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>

                <!-- User top right links -->
                <div id="user-links">
                    <div class="menuTopIcon">
                        <a href="{{ path('user_profile') }}">
                            <i class="fas fa-user"></i>
                            <span>{{ 'My profile'|trans }}</span>
                        </a>
                    </div>
                    <div class="menuTopIcon">
                        <a href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>{{ 'Log out'|trans }}</span>
                        </a>
                    </div>
                </div>

            </div>

            <!-- Navigation -->
            <nav>
                {% if is_granted('ROLE_CLASS_LIST_ALL') or app.user.classes|length > 0%}
                    <a href="{{ path('classes') }}">
                        <div class="menuItem">
                            <i class="fas fa-clock"></i>
                            <span>{{ 'Classes'|trans }}</span>
                        </div>
                    </a>
                {% endif %}

                {% if is_granted('ROLE_STUDENT_LIST_ALL') %}
                    <a href="{{ path('eleves') }}">
                        <div class="menuItem">
                            <i class="fas fa-user-graduate"></i>
                            <span>{{ 'Students'|trans }}</span>
                        </div>
                    </a>
                {% endif %}

                <a href="{{ path('activites') }}">
                    <div class="menuItem">
                        <i class="fas fa-brain"></i>
                        <span>{{ 'Activities'|trans }}</span>
                    </div>
                </a>

                <div class="menuItem">
                    <i class="fas fa-book-open"></i>
                    <span>Cahier de notes</span>
                </div>

                {# Display implantation menu if Admin / ROLE_IMPLANTATION_LIST_ALL #}
                {% if is_granted('ROLE_IMPLANTATION_LIST_ALL') %}
                    <a href="{{ path('implantations') }}">
                        <div class="menuItem">
                            <i class="fas fa-school"></i>
                            <span>{{ 'Implantations'|trans }}</span>
                        </div>
                    </a>
                {% endif %}

                {% if is_granted('ROLE_USER_LIST_ALL') %}
                    <a href="{{ path('users') }}">
                        <div class="menuItem">
                            <i class="fas fa-users"></i>
                            <span>{{ 'Users'|trans }}</span>
                        </div>
                    </a>
                {% endif %}

            </nav>

            <!-- Navigation - Mobile top menu -->
            <div id="mobile-top-nav">
                <div id="mobile-menu-items">
                    <ul>
                        {% if is_granted('ROLE_USER_LIST_ALL') %}
                            <li><i class="fas fa-users"></i></li>
                        {% endif %}

                        {% if is_granted('ROLE_IMPLANTATION_LIST_ALL') %}
                            <li><i class="fas fa-school"></i></li>
                        {% endif %}

                        <li><i class="fas fa-user"></i></li>
                        <li><i class="fas fa-sign-out-alt"></i></li>
                    </ul>
                    <ul>
                        {% if is_granted('ROLE_USER_LIST_ALL') %}
                            <li><a href="{{ path('users') }}">{{ 'Users'|trans }}</a></li>
                        {% endif %}

                        {% if is_granted('ROLE_IMPLANTATION_LIST_ALL') %}
                            <li><a href="{{ path('implantations') }}">{{ 'Implantations'|trans }}</a></li>
                        {% endif %}

                        <li><a href="{{ path('user_profile') }}">{{ 'My profile'|trans }}</li>
                        <li><a href="{{ path('app_logout') }}">{{ 'Log out'|trans }}</a></li>
                    </ul>
                </div>
            </div>

            <!-- Content head title -->
            <div class="content-title">
                <h1>{% block title %} {% endblock %}</h1>
            </div>
        </header>

        <!-- Application contents -->
        <section class="content">
            {% block body %}{% endblock %}
        </section>
    </div>

    <!-- Add 'something' functionality -->
    <div id="add-functionality">
        {% block functionnalities %} {% endblock %}
    </div>

    <footer>
        <p>
            <i class="fab fa-github-alt"></i>
            <span>{{ 'Source code on'|trans }} </span><a href="https://github.com/EvalBook/EvalBook" title="Eval book github repository">Github</a>
        </p>
        <nav id="mobile-menu">

            <!-- Quick access on mobile bottom. -->
            {% if is_granted('ROLE_CLASS_LIST_ALL') or app.user.classes|length > 0%}
                <a href="{{ path('classes') }}">
                    <div class="menuItem">
                        <i class="fas fa-clock"></i>
                        <span>{{ 'Classes'|trans }}</span>
                    </div>
                </a>
            {% endif %}

            {% if is_granted('ROLE_STUDENT_LIST_ALL') %}
                <a href="{{ path('eleves') }}">
                    <div class="menuItem">
                        <i class="fas fa-user-graduate"></i>
                        <span>{{ 'Students'|trans }}</span>
                    </div>
                </a>
            {% endif %}

            <a href="{{ path('activites') }}">
                <div class="menuItem">
                    <i class="fas fa-brain"></i>
                    <span>{{ 'Activities'|trans }}</span>
                </div>
            </a>

            <div class="menuItem">
                <i class="fas fa-book-open"></i>
                <span>{{ 'Notebook'|trans }}</span>
            </div>

        </nav>
    </footer>

    {{ encore_entry_script_tags('controls') }}
    {% block javascripts %} {% endblock %}


</body>
</html>