{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{# Global template used througth the whole application #}
{# Basic usage: {% extends 'base.html.twig' %}#}

<!DOCTYPE html>
{% trans_default_domain 'templates' %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/favicon.ico') }}" />
    <script src="https://kit.fontawesome.com/af99847773.js" crossorigin="anonymous"></script>

    {# Import needed webpack encore css items #}
    {{ encore_entry_link_tags('theme') }}
    {{ encore_entry_link_tags('dialogs') }}

    {% block head %} {% endblock %}

    <title>EvalBook - {% block pageTitle %} {% endblock %}</title>
</head>
<body>
    {# Fetching user configuration ( defined in user settings page ) #}
    {% set config = interfaceConfiguration.load(app.user) %}

    {# Display potentials error / success messages coming from controller::addFlash() #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="dialog dialog-{{ label }}">
                {{ message | trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container">
        <header>
            <div class="heading">

                {# Application header / logo #}
                {% if config.showLogo %}
                    <div id="logo">
                        <img src="{{ asset('build/logo_evalbook.png') }}" alt="EvalBook logo">
                        <span>{{ 'Teachers evaluation tool'|trans }}</span>
                    </div>
                {% endif %}

                {# Mobile top actions#}
                <div id="mobile-header">
                    {# Mobile - Define a space to display the + button ( or whatever you want ) #}
                    <div id="mobile-add-functionality">
                        {% block functionnalitiesMobile %} {% endblock %}
                    </div>

                    {# Mobile - display the menu click element #}
                    <div id="mobile-menu-toggle">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>

                {# Desktop user top right links #}
                <div id="user-links">
                    <i class="fas fa-user-circle"></i>

                    <div id="user-links-toggle">
                        {# Logged in user profile #}
                        <a href="{{ path('user_profile') }}" title="User profile">
                            <i class="fas fa-user"></i>
                            <span>{{ app.user is defined ? (app.user.firstName ~ ' ' ~ app.user.lastName) : 'My profile'|trans }}</span>
                        </a>

                        {# Logged in user preferences / settings #}
                        <a href="{{ path('user_settings') }}" title="User configuration">
                            <i class="fas fa-users-cog"></i> <span>{{ 'Configuration'|trans }}</span>
                        </a>

                        {# Logout path #}
                        <a href="{{ path('app_logout') }}" title="Log out">
                            <i class="fas fa-sign-out-alt"></i> <span>{{ 'Log out'|trans }}</span>
                        </a>

                        {# TODO about #}
                        <a href="{{ path('app_logout') }}" title="About EvalBook">
                            <i class="fas fa-sign-out-alt"></i> <span>{{ 'About'|trans }}</span>
                        </a>

                    </div>
                </div>

            </div>

            {# Desktop navigation menu #}
            <nav>
                {# Desktop classrooms listing access #}
                {% if is_granted('ROLE_CLASS_LIST_ALL') or ( app.user.classrooms is defined and app.user.classrooms|length > 0) %}
                    <a href="{{ path('classrooms') }}" title="Classes">
                        <div class="menuItem">
                            <i class="fas fa-clock"></i><span>{{ 'Classes'|trans }}</span>
                        </div>
                    </a>
                {% endif %}

                {# Desktop students listing access #}
                <a href="{{ path('students') }}" title="Students">
                    <div class="menuItem">
                        <i class="fas fa-user-graduate"></i><span>{{ 'Students'|trans }}</span>
                    </div>
                </a>

                {# Desktop activities listing access #}
                <a href="{{ path('activities') }}" title="Activities">
                    <div class="menuItem">
                        <i class="fas fa-brain"></i><span>{{ 'Activities'|trans }}</span>
                    </div>
                </a>

                {# Desktop classrooms listing access #}
                <a href="{{ path('note_book_select_classroom') }}" title="Notebook">
                    <div class="menuItem">
                        <i class="fas fa-book-open"></i><span>{{ 'Notebook'|trans }}</span>
                    </div>
                </a>

                {# Desktop implantation menu if Admin / ROLE_IMPLANTATION_LIST_ALL #}
                {% if is_granted('ROLE_IMPLANTATION_LIST_ALL') %}
                    <a href="{{ path('implantations') }}" title="Implantations">
                        <div class="menuItem">
                            <i class="fas fa-building"></i><span>{{ 'Implantations'|trans }}</span>
                        </div>
                    </a>
                {% endif %}

                {# Desktop schools list access #}
                {% if is_granted('ROLE_SCHOOL_LIST_ALL') and config.useSchools %}
                    <a href="{{ path('schools') }}" title="Schools">
                        <div class="menuItem">
                            <i class="fas fa-school"></i><span>{{ 'Schools'|trans }}</span>
                        </div>
                    </a>
                {% endif %}

                {# Desktop users list access #}
                {% if is_granted('ROLE_USER_LIST_ALL') %}
                    <a href="{{ path('users') }}" title="Users">
                        <div class="menuItem">
                            <i class="fas fa-users"></i><span>{{ 'Users'|trans }}</span>
                        </div>
                    </a>
                {% endif %}

            </nav>

            {# Mobile top menu ( less used functionalities ) - Navigation - Mobile top menu #}
            <div id="mobile-top-nav">
                <div id="mobile-menu-items">
                    <ul>
                        {# Mobile users list access icon #}
                        {% if is_granted('ROLE_USER_LIST_ALL') %}
                            <li><i class="fas fa-users"></i></li>
                        {% endif %}

                        {# Mobile implantations list access icon #}
                        {% if is_granted('ROLE_IMPLANTATION_LIST_ALL') %}
                            <li><i class="fas fa-building"></i></li>
                        {% endif %}

                        {# Mobile schools list access icon #}
                        {% if is_granted('ROLE_SCHOOL_LIST_ALL') and config.useSchools %}
                            <li><i class="fas fa-school"></i></li>
                        {% endif %}
                        {# Mobile users / settings and logout accesses icon #}
                        <li><i class="fas fa-user"></i></li>
                        <li><i class="fas fa-users-cog"></i></li>
                        <li><i class="fas fa-sign-out-alt"></i></li>
                    </ul>
                    <ul>
                        {# Mobile users list access #}
                        {% if is_granted('ROLE_USER_LIST_ALL') %}
                            <li><a href="{{ path('users') }}" title="Users">{{ 'Users'|trans }}</a></li>
                        {% endif %}

                        {# Mobile implantations list access #}
                        {% if is_granted('ROLE_IMPLANTATION_LIST_ALL') %}
                            <li><a href="{{ path('implantations') }}" title="Implantations">{{ 'Implantations'|trans }}</a></li>
                        {% endif %}

                        {# Mobile schools list access #}
                        {% if is_granted('ROLE_SCHOOL_LIST_ALL') and config.useSchools %}
                            <li><a href="{{ path('schools') }}" title="Schools">{{ 'Schools'|trans }}</a></li>
                        {% endif %}

                        {# Mobile user profile #}
                        <li><a href="{{ path('user_profile') }}" title="Profile">{{ 'My profile'|trans }}</a></li>

                        {# Mobile user setting access ( display settings => show title, show search, user schools, etc ... ) #}
                        <li><a href="{{ path('user_settings') }}" title="Profile">{{ 'Configuration'|trans }}</a></li>

                        {# Mobile logout link #}
                        <li><a href="{{ path('app_logout') }}" title="Log out">{{ 'Log out'|trans }}</a></li>
                    </ul>
                </div>
            </div>

            {# Define the content top with title block and title bottom block #}
            <div class="content-top">
                {# Define the page main title #}
                {% if config.showTitle %}
                    <h1>{% block title %} {% endblock %}</h1>
                {% endif %}

                {# Define a block containg elements above the main page title, the search box for exemple #}
                {% block titleBottom %} {% endblock %}

                {# Define add fonctionnality block and positioning ( + button on student / classrooms / users... pages )#}
                {% if config.showLogo is same as (false) or config.showSearch is same as (false) %}
                    {% set suppClass = 'position-minus' %}
                {% elseif config.showLogo is same as (false) and config.showSearch is same as (false) %}
                    {% set suppClass = 'position-minus2' %}
                {% else %}
                    {% set suppClass = '' %}
                {% endif %}
                <div id="add-functionality" class="{{ suppClass }}">
                    {% block functionnalities %} {% endblock %}
                </div>

            </div>
        </header>

        {# EvalBook application page contents #}
        {% set suppClass = config.showSearch is same as (false) and config.showTitle is same as (false) ? 'margin-plus' : '' %}
        <section class="content {{ suppClass }}">
            {% block body %}{% endblock %}
        </section>
    </div>



    {# Mobile bottom menu #}
    <nav id="mobile-menu">
        {# Mobile classrooms list access #}
        {% if is_granted('ROLE_CLASS_LIST_ALL') or ( app.user.classrooms is defined and app.user.classrooms|length > 0) %}
            <a href="{{ path('classrooms') }}" title="Classes">
                <div class="menuItem">
                    <i class="fas fa-clock"></i>
                    <span>{{ 'Classes'|trans }}</span>
                </div>
            </a>
        {% endif %}

        {# Mobile students list access #}
        {% if is_granted('ROLE_STUDENT_LIST_ALL') %}
            <a href="{{ path('students') }}" title="Students">
                <div class="menuItem">
                    <i class="fas fa-user-graduate"></i>
                    <span>{{ 'Students'|trans }}</span>
                </div>
            </a>
        {% endif %}

        {# Mobile activities list access #}
        <a href="{{ path('activities') }}" title="Activites">
            <div class="menuItem">
                <i class="fas fa-brain"></i>
                <span>{{ 'Activities'|trans }}</span>
            </div>
        </a>

        {# Mobile notebooks list access #}
        <a href="{{ path('note_book_select_classroom') }}" title="Classes">
            <div class="menuItem">
                <i class="fas fa-book-open"></i>
                <span>{{ 'Notebook'|trans }}</span>
            </div>
        </a>
    </nav>

    {# Desktop only footer #}
    {% if config.showFooter %}
        <footer>
            <p>
                <i class="fab fa-github-alt"></i>
                <span>{{ 'Source code on'|trans }} </span><a href="https://github.com/EvalBook/EvalBook" title="Eval book github repository"> Github</a>
            </p>
            <p>
                <span>{{ 'Sponsors'|trans }}</span> <img src="{{ asset('build/jetbrains.png') }}" alt="JetBrains sponsor">
                <a href="https://www.jetbrains.com" title="JetBrain support">
                    <span>{{ 'JetBrains' }}</span>
                </a>
            </p>
        </footer>
    {% endif %}


    {# Include Javascript controls #}
    {{ encore_entry_script_tags('controls') }}
    {% block javascripts %} {% endblock %}

</body>
</html>