<!DOCTYPE html>
{% trans_default_domain 'templates' %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/af99847773.js" crossorigin="anonymous"></script>
    {{ encore_entry_link_tags('theme') }}
    {{ encore_entry_link_tags('dialogs') }}

    {% block head %} {% endblock %}

    <title>EvalBook - {% block pageTitle %} {% endblock %}</title>
</head>
<body>
    <!-- Display potentials error / success messages -->
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="dialog dialog-{{ label }}">
                {{ message | trans({}, 'controllers')}}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container">
        <header>
            <div class="heading">

                <!-- Header -->
                <div id="logo">
                    <img src="{{ asset('assets/img/logos/logo_evalbook.png') }}" alt="EvalBook logo">
                    <span>{{ 'global.slogan'|trans }}</span>
                </div>

                <div id="mobile-header">
                    <div id="mobile-add-functionality">
                        <i class="fas fa-plus"></i>
                    </div>

                    <div id="mobile-menu-toggle">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>

                <div id="user-links">
                    <div class="menuTopIcon">
                        <a href="{{ path('dashboard') }}">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>{{ 'global.dashboard'|trans }}</span>
                        </a>
                    </div>
                    <div class="menuTopIcon">
                        <a href="{{ path('user_profile') }}">
                            <i class="fas fa-user"></i>
                            <span>{{ 'global.profile'|trans }}</span>
                        </a>
                    </div>
                    <div class="menuTopIcon">
                        <a href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>{{ 'global.disconnect'|trans }}</span>
                        </a>
                    </div>
                </div>

            </div>

            <!-- Navigation -->
            <nav>
                <div class="menuItem">
                    <i class="fas fa-clock"></i>
                    <span>Classes</span>
                </div>
                <div class="menuItem">
                    <i class="fas fa-user-graduate"></i>
                    <span>Elèves</span>
                </div>
                <div class="menuItem">
                    <i class="fas fa-brain"></i>
                    <span>Activités</span>
                </div>
                <div class="menuItem">
                    <i class="fas fa-book-open"></i>
                    <span>Cahier de notes</span>
                </div>
                <div class="menuItem">
                    <i class="fas fa-poll"></i>
                    <span>Bulletins</span>
                </div>

                <a href="{{ path('implantations') }}">
                    <div class="menuItem">
                        <i class="fas fa-school"></i>
                        <span>Implantations</span>
                    </div>
                </a>

                <div class="menuItem">
                    <i class="fas fa-users"></i>
                    <span>Utilisateurs</span>
                </div>
            </nav>

            <!-- Navigation - Mobile top menu -->
            <div id="mobile-top-nav">
                <div id="mobile-menu-items">
                    <ul>
                        <li><i class="fas fa-tachometer-alt"></i></li>
                        <li><i class="fas fa-poll"></i></li>
                        <li><i class="fas fa-users"></i></li>
                        <li><i class="fas fa-school"></i></li>
                        <li><a href="{{ path('user_profile') }}"><i class="fas fa-user"></i></a></li>
                        <li><a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="{{ path('dashboard') }}">{{ 'global.dashboard'|trans }}</a>
                        </li>
                        <li>{{ 'global.school-reports'|trans }}</li>
                        <li>{{ 'global.users'|trans }}</li>
                        <li><a href="{{ path('implantations') }}">{{ 'global.implantations'|trans }}</a></li>
                        <li><a href="{{ path('user_profile') }}">{{ 'global.profile'|trans }}</li>
                        <li><a href="{{ path('app_logout') }}">{{ 'global.disconnect'|trans }}</a></li>
                    </ul>
                </div>
            </div>

            <!-- Content head title -->
            <div class="content-title">
                <h1>{% block title %} {% endblock %}</h1>
            </div>
        </header>

        <!-- Application contents -->
        <section class="content">
            {% block body %}{% endblock %}
        </section>
    </div>

    <!-- Add 'something' functionality -->
    <div id="add-functionality">
        <i class="fas fa-plus"></i>
    </div>

    <footer>
        <p>
            <i class="fab fa-github-alt"></i>
            <span>{{ 'global.github'|trans }} </span><a href="https://github.com/EvalBook/EvalBook" title="Eval book github repository">Github</a>
        </p>
        <nav id="mobile-menu">
            <div class="menuItem">
                <i class="fas fa-clock"></i>
                <span>{{ 'global.classes'|trans }}</span>
            </div>
            <div class="menuItem">
                <i class="fas fa-user-graduate"></i>
                <span>{{ 'global.students'|trans }}</span>
            </div>
            <div class="menuItem">
                <i class="fas fa-brain"></i>
                <span>{{ 'global.activities'|trans }}</span>
            </div>
            <div class="menuItem">
                <i class="fas fa-book-open"></i>
                <span>{{ 'global.notebook'|trans }}</span>
            </div>

        </nav>
    </footer>

    {% block javascripts %} {% endblock %}
    {{ encore_entry_script_tags('controls') }}

</body>
</html>