
<div class="col-md-3 m-4 p-3 h-25 mh-25 dropdown-menu-nav" id="navbar">
    <div class="dropdown-item pb-2">{{ "Notebook" | trans }}</div>
    <div class="dropdown-item pb-2">{{ "Activities" | trans }}</div>
    <div class="dropdown-item pb-2">{{ "School report" | trans }}</div>
    <div class="dropdown-item pb-2">{{ "Pupils" | trans }}</div>
    <div class="dropdown-item pb-2">{{ "Classes" | trans }}</div>

    {% if app.user.firstRoleMatch(['ROLE_ADMIN', 'ROLE_IMPLANTATIONS_LIST', 'ROLE_IMPLANTATION_EDIT','ROLE_IMPLANTATION_CREATE','ROLE_IMPLANTATION_DELETE']) %}
        <a href="{{ path('schools_index') }}" class="dropdown-item pb-2">{{ "Schools and implantation" | trans }}</a>
    {% endif %}

    {% if app.user.firstRoleMatch(['ROLE_USERS_LIST', 'ROLE_USER_CREATE', 'ROLE_USER_EDIT', 'ROLE_USER_DELETE']) %}
        <a href="{{ path('users_index') }}" class="dropdown-item">{{ "Users" | trans }}</a>
    {% endif %}
</div>