{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Dashboard' | trans }} {% endblock %}

{% block body %}

<div class="dashboard-panel">
    <div class="width-50-percent">
        {# Add activity - Classroom shortcut to add new activities. #}
        <div class="full-width">
            <h2>{{ 'Manage my classrooms'|trans }}</h2>
            <table class="full-width">
                <thead>
                <tr>
                    <th>{{ 'Implantation'|trans }}</th>
                    <th>{{ 'Class'|trans }}</th>
                    <th class="text-center">{{ 'Users'|trans }}</th>
                    {% if is_granted('ROLE_CLASS_EDIT_USERS') %}
                        <th class="text-center">{{ 'Manage users'|trans }}</th>
                    {% endif %}
                    <th class="text-center">{{ 'Activity'|trans }}</th>
                </tr>
                </thead>
                <tbody>

                {# classrooms => contain all classrooms the user can interract with #}
                {% for classroom in classrooms %}
                    <tr>
                        <td>{{ classroom.implantation }}</td>
                        <td>{{ classroom.name }}</td>
                        <td class="text-center"> {{ classroom.users|length }}</td>

                        {% if is_granted('ROLE_CLASS_EDIT_USERS') %}
                            <td class="text-center">
                                <a href="{{ path('classroom_manage_users', {'id': classroom.id}) }}" title="Add users to class">
                                    <i class="fas fa-cogs"></i>
                                </a>
                            </td>
                        {% endif %}

                        {# Provide a link to add activity to the selected classroom #}
                        <td class="text-center">
                            <a href="{{ path('activity_add', {'classroom': classroom.id} ) }}" title="Add activity to the class">
                                <i class="fas fa-plus text-yellow"></i>
                            </a>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            {{ 'You do not have any class'|trans }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        {# Top 5 user activities + note status. #}
        <div class="margin-plus">
            <h2>{{ 'My last 5 activities'|trans }}</h2>
            <table class="full-width">
                <thead>
                <tr>
                    <th>{{ 'Class'|trans }}</th>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                    <th class="text-center">{{ 'Note'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for activity in myActivities %}
                    {% set editable = activity.period.dateEnd >= date() %}

                    <tr>
                        {# Activity classroom #}
                        <td>{{ activity.classroom }}</td>

                        {# Activity name #}
                        <td>{{ activity.name }}</td>

                        {# Activity date add #}
                        <td>{{ activity.dateAdded|date('d/m/Y') }}</td>

                        {# Note activity access ( Provide a link to not student on this activity ) #}
                        <td class="text-center">
                            {% if editable %}
                                <a href="{{ path('activity_note_add', {'id': activity.id}) }}" title="Add activity notes">
                                    {% set cssClass = activity.notes|length > 0 ? 'text-yellow' : 'text-red'  %}
                                    <i class="fas fa-medal {{ cssClass }}"></i>
                                </a>
                            {% else %}
                                <span>-</span>
                            {% endif %}
                        </td>

                    </tr>
                {% else %}
                    {# No activity found message #}
                    <tr>
                        <td colspan="4" class="text-center">
                            {{ 'It sounds like you do not have any activity or any class'|trans }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {# Activities that needs to be noted #}
        <div class="margin-plus">
            <h2>{{ 'Activities that have not be noted'|trans }}</h2>
            <table class="full-width">
                <thead>
                <tr>
                    <th>{{ 'Class'|trans }}</th>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                    <th class="text-center">{{ 'Note'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for activity in needNotesActivities %}
                    {% set editable = activity.period.dateEnd >= date() %}

                    <tr>
                        {# Activity classroom #}
                        <td>{{ activity.classroom }}</td>

                        {# Activity name #}
                        <td>{{ activity.name }}</td>

                        {# Activity date add #}
                        <td>{{ activity.dateAdded|date('d/m/Y') }}</td>

                        {# Note activity access ( Provide a link to not student on this activity ) #}
                        <td class="text-center">
                            {% if editable %}
                                <a href="{{ path('activity_note_add', {'id': activity.id}) }}" title="Add activity notes">
                                    {% set cssClass = activity.notes|length > 0 ? 'text-yellow' : 'text-red'  %}
                                    <i class="fas fa-medal {{ cssClass }}"></i>
                                </a>
                            {% else %}
                                <span>-</span>
                            {% endif %}
                        </td>

                    </tr>
                {% else %}
                    {# No activity found message #}
                    <tr>
                        <td colspan="4" class="text-center">
                            {{ 'You do not have activity without notes'|trans }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {# Activities with sick students #}
        <div class="margin-plus">
            <h2>{{ 'Activities with sick students'|trans }}</h2>
            <table class="full-width">
                <thead>
                <tr>
                    <th>{{ 'Class'|trans }}</th>
                    <th>{{ 'Name'|trans }}</th>
                    <th class="text-center">{{ 'Sick'|trans }}</th>
                    <th class="text-center">{{ 'Note'|trans }}</th>
                </tr>
                </thead>
                <tbody>

                {% for abs in withAbsActivities %}
                    {% set editable = abs.activity.period.dateEnd >= date() %}

                    <tr>
                        {# Activity classroom #}
                        <td>{{ abs.activity.classroom }}</td>

                        {# Activity name #}
                        <td>{{ abs.activity.name }}</td>

                        {# Activity date add #}
                        <td class="text-center">{{ abs.count }}</td>

                        {# Note activity access ( Provide a link to not student on this activity ) #}
                        <td class="text-center">
                            {% if editable %}
                                <a href="{{ path('activity_note_add', {'id': abs.activity.id}) }}" title="Add activity notes">
                                    {% set cssClass = abs.activity.notes|length > 0 ? 'text-yellow' : 'text-red'  %}
                                    <i class="fas fa-medal {{ cssClass }}"></i>
                                </a>
                            {% else %}
                                <span>-</span>
                            {% endif %}
                        </td>

                    </tr>
                {% else %}
                    {# No activity found message #}
                    <tr>
                        <td colspan="4" class="text-center">
                            {{ 'You do not have activity where student were sick'|trans }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>

    <div class="width-50-percent">
        {# Activities domains by classroom and add new button #}
        {# Activities skills by classroom and by domains with collaspe and add button #}
        {# Notes types ( note type are globals and not 'deletable' #}
        <div class="full-width">
            <h2>{{ 'Available Themes - Domains and skills for your classrooms'|trans }}</h2>
            <table class="full-width">
                <thead></thead>
                <tbody>

                {% for themeString, theme in activityThemeDomainsSkills %}
                    <tr>
                        <th>{{ 'Classroom'|trans }}: {{ themeString }}</th>
                        <th class="activity-add-theme">
                            <a href="{{ path('dashboard_add_domain', {'classroom': theme.classroomId }) }}">Domaine  <i class="fas fa-plus text-yellow"></i></a>
                        </th>
                    </tr>

                    {% for domainString, domain in theme.domains %}
                        <tr class="domain">
                            <td><strong>{{ domainString }}</strong></td>
                            <td class="activity-add-theme">
                                <a href="{{ path('dashboard_edit_domain', {'domain': domain.domainId }) }}"><i class="fas fa-edit text-yellow"></i></a>
                            </td>
                        </tr>

                        {% for skill in domain.skills %}
                            <tr>
                                <td class="skill">
                                    {{ skill.name }} - <span class="skill-description">{{ skill.description }}</span>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="no-skill">
                                    {{ 'No skill found, add new ones'|trans }}
                                </td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr>
                            <td>
                                {{ 'No domain found, add new ones'|trans }}
                            </td>
                        </tr>
                    {% endfor %}

                {% else %}
                    {# No activity found message #}
                    <tr>
                        <td>
                            {{ 'No theme found, add new ones'|trans }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <div class="add-button">
                <a href="{{ path('dashboard_add_skill') }}">
                    {{ 'Add new domain skill'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
