{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * Provide the user configuration page.
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %}
    {{ 'Configuration'|trans }}
{% endblock %}

{% block title %}
    {{ 'Your user settings'|trans }}
{% endblock %}

{% block body %}
    <div class="full-width flex column">
        <a class="go-back" href="{{ app.request.headers.get('referer') }}" title="Go back">
            <i class="fas fa-long-arrow-alt-left"></i>
        </a>

        {{ form_start(form) }}
        <div class="form-content">
            <h2>{{ 'Interface settings'|trans }}</h2>

            <div class="form-row display-row">
                {# Choice: EvalBook logo #}
                <div class="width-25-percent">
                    {{ form_label(form.showLogo, 'Display EvalBook logo'|trans) }}
                    {{ form_widget(form.showLogo, {'attr': {'class': 'width-100'}}) }}
                    <span class="form-error">
                        {{ form_errors(form.showLogo) }}
                    </span>
                </div>

                {# Choice: Display help button / messages #}
                <div class="width-25-percent">
                    {{ form_label(form.showHelp, 'Display help next to titles'|trans) }}
                    {{ form_widget(form.showHelp, {'attr': {'class': 'width-100'}}) }}
                    <span class="form-error">
                        {{ form_errors(form.showHelp) }}
                    </span>
                </div>

                {# Choice: Display search box #}
                <div class="width-25-percent">
                    {{ form_label(form.showSearch, 'Display the search bar'|trans) }}
                    {{ form_widget(form.showSearch, {'attr': {'class': 'width-100'}}) }}
                    <span class="form-error">
                        {{ form_errors(form.showSearch) }}
                    </span>
                </div>

            </div>

            <div class="form-row display-row">

                {# Choice: Display pages title #}
                <div class="width-25-percent">
                    {{ form_label(form.showTitle, 'Display pages titles'|trans) }}
                    {{ form_widget(form.showTitle, {'attr': {'class': 'width-100'}}) }}
                    <span class="form-error">
                        {{ form_errors(form.showTitle) }}
                    </span>
                </div>

                {# Choice: If admin user, can this configuration be propagated to all users ? #}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="width-25-percent">
                        {{ form_label(form.isGlobalConfig, 'Set this configuration for all users ?'|trans) }}
                        {{ form_widget(form.isGlobalConfig, {'attr': {'class': 'width-100'}}) }}
                        <span class="form-error">
                            {{ form_errors(form.isGlobalConfig) }}
                        </span>
                    </div>
                {% endif %}
            </div>

            <h2>{{ 'Functionnalities settings'|trans }}</h2>

            <div class="form-row display-row">
                {# Choice: User want to use school functionality ? #}
                {% if is_granted('ROLE_IMPLANTATION_LIST_ALL') %}
                    <div class="width-25-percent">
                        {{ form_label(form.useSchools, 'Use schools'|trans) }}
                        {{ form_widget(form.useSchools, {'attr': {'class': 'width-100'}}) }}
                        <span class="form-error">
                            {{ form_errors(form.useSchools) }}
                        </span>
                    </div>
                {% else %}
                    {% do form.useSchools.setRendered() %}
                {% endif %}

                {# Choice: User want to use contacts functionality ? #}
                <div class="width-25-percent">
                    {{ form_label(form.useContacts, 'Use contacts'|trans) }}
                    {{ form_widget(form.useContacts, {'attr': {'class': 'width-100'}}) }}
                    <span class="form-error">
                        {{ form_errors(form.useContacts) }}
                    </span>
                </div>

                <div class="width-25-percent"></div>
            </div>

            {# Submit button #}
            {{ form_row(form.submit, {
                'label': 'Send'|trans,
                'attr': {'class': 'margin-15'},
            }) }}

        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
