{% extends 'base.html.twig' %}

{% block title %}{{ 'Users edit' | trans }}{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">{{ 'Id' | trans }}</th>
            <th scope="col">{{ 'First name' | trans }}</th>
            <th scope="col">{{ 'Last  name' | trans }}</th>
            <th scope="col">{{ 'E-mail' | trans }}</th>
            <th scope="col">{{ 'Roles' | trans }}</th>
            <th scope="col">{{ 'Active' | trans }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {{ user.roles | length }}
                    {% form_theme rolesForms[user.id] 'bootstrap_4_layout.html.twig' %}
                    {% include 'modal-right.html.twig' with {'content' : form(rolesForms[user.id]),'id': user.id, 'slug': 'role', 'fa': 'far fa-edit'} %}
                </td>
                <td>
                    {% if user.active %}
                        {{ 'Yes' | trans }}
                    {% else %}
                        {{ 'No' | trans }}
                    {% endif %}
                </td>
                <td>
                    {% form_theme editForms[user.id] 'bootstrap_4_layout.html.twig' %}
                    {% include 'modal-right.html.twig' with {'content' : form(editForms[user.id]),'id': user.id, 'slug': 'edit', 'fa': 'fas fa-pen-square'} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'No users found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}