{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * Form used to add new users.
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %}
    {{ user.id is defined ? 'Edit'|trans : 'Add'|trans }}
{% endblock %}

{% block title %}
    {{ user.id is defined ? 'Edit'|trans : 'Add'|trans }}
{% endblock %}

{% block body %}
    <div class="full-width flex column">
        {# Include go back template #}
        {% include '_partials/go-back.html.twig' %}

        <div class="form-content">
            {{ form_start(form) }}

            {# User first name #}
            <div class="form-row">
                {{ form_label(form.firstName, 'Name'|trans) }}
                {{ form_widget(form.firstName) }}
                <span class="form-error">
                    {{ form_errors(form.firstName) }}
                </span>
            </div>

            {# User last name #}
            <div class="form-row">
                {{ form_label(form.lastName, 'First name'|trans) }}
                {{ form_widget(form.lastName) }}
                <span class="form-error">
                    {{ form_errors(form.lastName) }}
                </span>
            </div>

            {# User email #}
            <div class="form-row">
                {{ form_label(form.email, 'Mail address'|trans) }}
                {{ form_widget(form.email) }}
                <span class="form-error">
                    {{ form_errors(form.email) }}
                </span>
            </div>


            {# User password #}
            <div class="form-row">
                {{ form_label(form.password.first, 'Password'|trans) }}
                {{ form_widget(form.password.first) }}
                <span class="form-info">
                    {{ 'The password must have a lower case and upper case char, a number and a special char'|trans }}
                </span>
                <span class="form-error">
                    {{ form_errors(form.password.first) }}
                </span>
            </div>

            {# User password repeat #}
            <div class="form-row">
                {{ form_label(form.password.second, 'Password repeat'|trans) }}
                {{ form_widget(form.password.second) }}
                <span class="form-error">
                    {{ form_errors(form.password.second) }}
                </span>
            </div>


            <div class="form-row">
                {{ form_label(form.sendMail, 'Send an e-mail to this user with these informations ?'|trans) }}
                {{ form_widget(form.sendMail) }}
            </div>

            {# User roles management #}
            <div>
                <h2>{{ 'Roles management'|trans }}</h2>
            </div>

            <div class="form-row">
                {{ form_label(form.role_type, 'Select a role type or click advanced arrow'|trans) }}
                {{ form_widget(form.role_type) }}
            </div>

            <div class="form-row display-row" id="roles-group">
                {% for group_label, options in form.roles.vars.choices %}
                    <div class="width-25-percent">
                        <h3>{{ (group_label~'s')|replace({'ys': 'ies', 'sss': 'sses'})|capitalize|trans }}</h3>
                        {% for key, choice in options %}
                            <div class="flex">
                                <input type="checkbox" id="{{ form.vars.name }}_roles_{{ key }}"
                                       name="{{ form.vars.name }}[roles][]"
                                       value="{{ choice.value }}" {{ (choice.value in form.roles.vars.value) ? 'checked' : '' }}
                                >

                                <label class="margin-left"
                                       for="{{ form.vars.name }}_roles_{{ key }}">{{ choice.label|trans }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% do form.roles.setRendered() %}

            {# Submit button #}
            {{ form_row(form.submit, {
                'label': 'Send'|trans,
                'attr': {'class': 'margin-15'},
            }) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{# Import needed Javascripts #}
{% block javascripts %}
    {{ encore_entry_script_tags('userRoles') }}
{% endblock %}