{% extends 'base.html.twig' %}

{% block title %}{{ 'Users' | trans }}{% endblock %}

{% block body %}
    {# TODO show delete confirmation in a modal window #}

    {# Including the modal right window #}

    {# TODO Handle granted perms. #}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Id' | trans }}</th>
                <th>{{ 'First name' | trans }}</th>
                <th>{{ 'Last  name' | trans }}</th>
                <th>{{ 'E-mail' | trans }}</th>
                <th>{{ 'Roles' | trans }}</th>
                <th>{{ 'Active' | trans }}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if users|length > 0 %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {{ user.roles | length }}
                            {% form_theme rolesForms[user.id] 'bootstrap_4_layout.html.twig' %}
                            {% include 'modal-right.html.twig' with {'content' : form(rolesForms[user.id]),'id': user.id, 'slug': 'role', 'button': true} %}
                        </td>
                        <td>
                            {% if user.active %}
                                {{ 'Yes' | trans }}
                            {% else %}
                                {{ 'No' | trans }}
                            {% endif %}
                        </td>
                        <td>
                            {% form_theme editForms[user.id] 'bootstrap_4_layout.html.twig' %}
                            {% include 'modal-right.html.twig' with {'content' : form(editForms[user.id]),'id': user.id, 'slug': 'edit', 'button': true} %}
                        </td>
                        <td>
                            <a href="{{ path('users_delete',{id:user.id}) }}" class="btn btn-danger">{{ 'Delete' | trans }}</a>
                            <div class="modal">
                                Test modal window in order to delete user
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="8">{{ 'No users found' | trans }}</td>
                </tr>
            {%  endif %}
        </tbody>
    </table>
{% endblock %}