{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Users' | trans }} {% endblock %}
{% block title %}
    {{ 'Users' | trans }}
    {% set help = {'title': 'users.title', 'intro': 'intro', 'actions': 'users.actions'} %}
    {% include 'help/help-dialog.html.twig' %}
{% endblock %}

{% block titleBottom %}
    {% set placeholder = 'Search for user'|trans %}
    {% include 'search.html.twig' %}
{% endblock %}

{% block body %}
    <table class="full-width" id="searchable">
        <thead>
        <tr>
            <th scope="col">{{ 'Name'|trans }}</th>
            <th scope="col">{{ 'First name'|trans }}</th>
            <th scope="col" class="mobile-hidden-td">{{ 'Mail address'|trans }}</th>
            <th scope="col" class="text-center mobile-hidden-td">{{ 'Students'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Classes' | trans }}</th>

            {% if is_granted('ROLE_USER_EDIT') %}
                <th scope="col" class="text-center mobile-hidden-td">{{ 'Edit'|trans }}</th>
            {% endif %}

            {% if is_granted('ROLE_USER_DELETE') %}
                <th scope="col" class="text-center mobile-hidden-td">{{ 'Delete'|trans }}</th>
            {% endif %}

        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr data-id="{{ user.id }}" data-trigger="{{ path('user_edit', {'id': user.id}) }}">
                <td class="search-target">{{ user.firstName }}</td>
                <td class="search-target">{{ user.lastName }}</td>
                <td class="search-target mobile-hidden-td">{{ user.email }}</td>

                <td class="text-center mobile-hidden-td">
                    {% if is_granted('ROLE_STUDENT_LIST_ALL') %}
                        <a href="{{ path('user_view_students', {'id': user.id} ) }}" title="View user students list">
                            <i class="fas fa-eye"></i> ({{ user.eleves|length }})
                        </a>
                    {% else %}
                        <span>{{ user.eleves|length }}</span>
                    {% endif %}
                </td>

                <td class="text-center">
                    {% if is_granted('ROLE_CLASS_LIST_ALL') %}
                        <a href="{{ path('user_view_classes', {'id': user.id} ) }}" title="View user classes">
                            <i class="fas fa-eye"></i> ({{ user.classes|length }})
                        </a>
                    {% else %}
                        <span>{{ user.classes|length }}</span>
                    {% endif %}
                </td>

                {% if is_granted('ROLE_USER_EDIT') %}
                    {% set params = (redirect is defined) ? {'id': user.id, 'redirect': redirect} : {'id': user.id} %}
                    <td class="text-center mobile-hidden-td">
                        {% if 'ROLE_ADMIN' not in user.roles %}
                            <a href="{{ path('user_edit', params) }}" title="Edit user">
                                <i class="fas fa-edit"></i>
                            </a>
                        {% else %}
                            <span>-</span>
                        {% endif %}
                    </td>
                {% endif %}

                {% if is_granted('ROLE_USER_DELETE') %}
                    <td class="text-center mobile-hidden-td">
                        {% if 'ROLE_ADMIN' not in user.roles %}
                            <div data-target="user"
                                 data-targetid="{{ user.id }}"
                                 data-action="{{ path('user_delete', {'id': user.id}) }}"
                                 data-class="fas fa-trash"
                                 data-csrf="{{ csrf_token('user_delete' ~ user.id) }}"
                            >
                        </div>
                        {% else %}
                            <span>-</span>
                        {% endif %}
                    </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td class="text-center" colspan="7">{{ 'No users found' | trans }}</td>
            </tr>
            <tr>
                <td class="text-center" colspan="7">{{ 'You do not have rights to see users or no users exists in the database'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block functionnalities %}
    {% if is_granted('ROLE_USER_CREATE') %}
        <a href="{{ path('user_add') }}" title="Create a user">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}


{% block functionnalitiesMobile %}
    {% if is_granted('ROLE_USER_CREATE') %}
        <a href="{{ path('user_add') }}" title="Create a user">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}