{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Users' | trans }} {% endblock %}
{% block title %}{{ 'Users' | trans }}{% endblock %}

{% block body %}
    <table class="full-width">
        <thead>
        <tr>
            <th scope="col">{{ 'Name'|trans }}</th>
            <th scope="col">{{ 'First name'|trans }}</th>
            <th scope="col">{{ 'Mail address'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Classes' | trans }}</th>
            <th scope="col" class="text-center" data-mobile="0">{{ 'Edit'|trans }}</th>
            <th scope="col" class="text-center" data-mobile="0">{{ 'Delete'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr data-id="{{ user.id }}" data-trigger="{{ path('user_edit', {'id': user.id}) }}">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td class="text-center">{{ user.classes|length }}</td>

                <td class="text-center" data-mobile="0">
                    <a href="{{ path('user_edit', {'id': user.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>

                <td class="text-center" data-mobile="0">
                    <i class="fas fa-trash"></i>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'No users found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block functionnalities %}
    <a href="{{ path('user_add') }}">
        <i class="fas fa-plus"></i>
    </a>
{% endblock %}


{% block functionnalitiesMobile %}
    <a href="{{ path('user_add') }}">
        <i class="fas fa-plus"></i>
    </a>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
{% endblock %}