{% extends 'base.html.twig' %}

{% block title %}{{ 'Users list' | trans }}{% endblock %}

{% block sidebar %}
    {% include '_partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">{{ 'Id' | trans }}</th>
            <th scope="col">{{ 'First name' | trans }}</th>
            <th scope="col">{{ 'Last  name' | trans }}</th>
            <th scope="col">{{ 'E-mail' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'No users found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}