{% extends 'base-no-menu.html.twig' %}
{% trans_default_domain 'security' %}

{% block pageTitle %}
    {{ 'Log in'|trans }}
{% endblock %}

{% block body %}
    <div class="modal-center">
        <div>
            <img id="logo-mini" src="{{ asset('build/logo_evalbook_mini.png') }}" alt="EvalBook logo mini" />
        </div>

        <form method="post">
            {% if error %}
                <div class="dialog dialog-error">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <label for="inputEmail">{{ "E-mail address"|trans }}</label>
            <input type="email" id="inputEmail" name="email" placeholder="{{ "My e-mail"|trans }} ">
            <label for="inputPassword">{{ "Password"|trans }}</label>
            <input type="password" id="inputPassword" name="password" placeholder="{{ "My password"|trans }} ">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#See https://symfony.com/doc/current/security/remember_me.html#}

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> {{ "Remember me"|trans }}
                </label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <a href="{{ path('app_forgot_password_request') }}"> {{ "Reset password"|trans }}</a>
                </label>
            </div>

            <button type="submit">
                {{ 'Log in'|trans }}
            </button>
        </form>

    </div>

{% endblock %}