<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/af99847773.js" crossorigin="anonymous"></script>
    {{ encore_entry_link_tags('theme') }}

    <title>EvalBook</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="heading">
                <!-- Header -->
                <div id="logo">
                    <img src="{{ asset('assets/img/logos/logo_evalbook.png') }}">
                    <span>Teachers evaluation tool.</span>
                </div>
            </div>
        </header>

        <!-- Application contents -->
        <section class="content">

            <div class="modal-center">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <input type="email" class ="form-control col-sm-11 login-input" id="inputEmail" name="email" placeholder="{{ "My e-mail" | trans }} ">
                    <input type="password" class ="form-control col-sm-11 login-input" id="inputPassword" name="password" placeholder="{{ "My password" | trans }} ">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {#See https://symfony.com/doc/current/security/remember_me.html#}

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> {{ "Remember me" | trans }}
                        </label>
                    </div>

                    <button class="btn btn-light" type="submit">
                        {{ 'Log in'|trans }}
                    </button>
                </form>
            </div>

        </section>
    </div>
</body>
</html>