{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Profile' | trans }} {% endblock %}
{% block title %} {{ 'Profile' | trans }} {% endblock %}

{% block body %}
    <div class="full-width flex">

        {# User rights details #}
        <div class="help width-50-percent">
            <h2>Mes droits en tant qu'utilisateur: </h2>
            <p>
                Si vous souhaitez plus de droits sur le système, ou constatez que vous ne pouvez réaliser certaines opérations,
                merci de contacter votre administrateur EvalBook
            </p>
            {% for role in user.roles %}
                {# I keep this role for later on, when more functionnalities will be implemented such as parents view #}
                {%  if role != 'ROLE_USER' %}
                    <div class="help-item">
                        <h3>{{ ('roles.' ~ role)|trans }}</h3>
                        <p>{{ ('help.' ~ role)|trans }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {# Profile edition form. #}
        <div class="form-content width-50-percent">
            <h2>Modifier mes informations </h2>
            {{ form_start(userProfileForm) }}

            {# The user mail address #}
            <div class="form-row">
                {{ form_label(userProfileForm.email, 'Mail address'|trans) }}
                {{ form_widget(userProfileForm.email) }}
                <span class="form-error">
                    {{ form_errors(userProfileForm.email) }}
                </span>
            </div>

            {# The user password #}
            <div class="form-row">
                {{ form_label(userProfileForm.password.first, 'Password'|trans) }}
                {{ form_widget(userProfileForm.password.first) }}
                <span class="form-error">
                    {{ form_errors(userProfileForm.password.first) }}
                </span>
            </div>

            <div class="form-row">
                {{ form_label(userProfileForm.password.second, 'Password repeat'|trans) }}
                {{ form_widget(userProfileForm.password.second) }}
                <span class="form-error">
                    {{ form_errors(userProfileForm.password.second) }}
                </span>
            </div>

            {# Submit button #}
            {{ form_row(userProfileForm.submit, {'label': 'Send'|trans,
                'attr': {'class': 'margin-15'}
            }) }}

            {{ form_end(userProfileForm) }}
        </div>
    </div>
{% endblock %}