{% extends 'base.html.twig' %}
{% trans_default_domain 'forms' %}

{% block pageTitle %} {{ 'user.profile' | trans }} {% endblock %}
{% block title %} {{ 'user.profile' | trans }} {% endblock %}

{% block body %}
    <div class="full-width flex column">
        <div class="form-content">
            {{ form_start(userProfileForm) }}


            {# The user mail address #}
            <div class="form-row">
                {{ form_label(userProfileForm.email, 'user.label.email'|trans) }}
                {{ form_widget(userProfileForm.email) }}
                <span class="form-error">
                    {{ form_errors(userProfileForm.email) }}
                </span>
            </div>

            {# The user password #}
            <div class="form-row">
                {{ form_label(userProfileForm.password.first, 'user.label.password'|trans) }}
                {{ form_widget(userProfileForm.password.first) }}
                <span class="form-error">
                    {{ form_errors(userProfileForm.password.first) }}
                </span>
            </div>

            <div class="form-row">
                {{ form_label(userProfileForm.password.second, 'user.label.password-repeat'|trans) }}
                {{ form_widget(userProfileForm.password.second) }}
                <span class="form-error">
                    {{ form_errors(userProfileForm.password.second) }}
                </span>
            </div>

            {# Submit button #}
            {{ form_row(userProfileForm.submit, {'label': 'common.send'|trans,
                'attr': {'class': 'margin-15'}
            }) }}

            {{ form_end(userProfileForm) }}

        </div>
    </div>
{% endblock %}
