{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * Connected user profile.
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Profile' | trans }} {% endblock %}
{% block title %} {{ 'Profile' | trans }} {% endblock %}

{% block body %}
    <div class="full-width">

        {# Profile edition form. #}
        <div class="form-content">
            <h2>Modifier mes informations </h2>
            {{ form_start(userProfileForm) }}

            {# The user mail address #}
            <div class="form-row">
                {{ form_label(userProfileForm.email, 'Mail address'|trans) }}
                {{ form_widget(userProfileForm.email) }}
                <span class="form-error">
                    {{ form_errors(userProfileForm.email) }}
                </span>
            </div>

            {# The user password #}
            <div class="form-row">
                {{ form_label(userProfileForm.password.first, 'Password'|trans) }}
                {{ form_widget(userProfileForm.password.first) }}
                <span class="form-error">
                    {{ form_errors(userProfileForm.password.first) }}
                </span>
            </div>

            <div class="form-row">
                {{ form_label(userProfileForm.password.second, 'Password repeat'|trans) }}
                {{ form_widget(userProfileForm.password.second) }}
                <span class="form-error">
                    {{ form_errors(userProfileForm.password.second) }}
                </span>
            </div>

            {# Submit button #}
            {{ form_row(userProfileForm.submit, {'label': 'Send'|trans,
                'attr': {'class': 'margin-15'}
            }) }}

            {{ form_end(userProfileForm) }}
        </div>

        {# User rights details #}
        <div class="margin-15">
            <h2 class="text-yellow"> {{ 'My rights as a user'|trans }} </h2>
            <p class="text-center">
                {{ 'If you want more rights on the system or if you cannot make some crutial operations, contact your EvalBook admin.'|trans }}
            </p>
            {% for role in user.roles %}
                {# I keep this role for later on, when more functionnalities will be implemented such as parents view #}
                {%  if role != 'ROLE_USER' %}
                    <div class="help-item">
                        <h3>{{ ('roles.' ~ role)|trans }}</h3>
                        <p>{{ ('help.' ~ role)|trans }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}