{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block title %}{{ 'users.delete' | trans }}{% endblock %}

{% block sidebar %}
    {% include '_partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">{{ 'table.id' | trans }}</th>
            <th scope="col">{{ 'table.label.first-name' | trans }}</th>
            <th scope="col">{{ 'table.label.last-name' | trans }}</th>
            <th scope="col">{{ 'table.label.email' | trans }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% include '_partials/modal-confirm.html.twig' with {
                        'content' : 'message.confirm.delete' | trans,
                        'id': user.id,
                        'slug' : 'delete',
                        'fa' : 'far fa-trash-alt',
                        'onConfirm' : path('users_delete_confirm',{id:user.id}),
                        'onCancel' :  path('users_delete')
                    }
                    %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'users.not-found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

