{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * List all available schools if user has rights to see all implantations.
#}

{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Schools' | trans }} {% endblock %}


{% block title %}
    {{ 'Schools' | trans }}

    {# Include help messages button #}
    {% set help = {'title': 'schools.title', 'intro': 'intro', 'actions': 'schools.actions'} %}
    {% include 'help/help-dialog.html.twig' %}

    {# Desktop add classroom button #}
    {% if is_granted('ROLE_SCHOOL_CREATE') %}
        <a href="{{ path('school_add') }}" title="Add school" class="add-button">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}

{% endblock %}


{% block titleBottom %}
    {# Include search box #}
    {% set placeholder = 'Search for school'|trans %}
    {% include '_partials/search.html.twig' %}
{% endblock %}


{% block body %}
    {#
        The .mobile-hidden-to and .mobile-hidden classes makes element hidden on mobile.
    #}
    <table class="full-width">
        <thead>
        <tr>
            <th scope="col">{{ 'School' | trans }}</th>
            <th scope="col" class="text-center">{{ 'Implantations'|trans }}</th>

            {% if is_granted('ROLE_SCHOOL_EDIT') %}
                <th scope="col" class="text-center">{{ 'Edit' | trans }}</th>
            {% endif %}

            {% if is_granted('ROLE_SCHOOL_DELETE') %}
                <th scope="col" class="text-center mobile-hidden-td">{{ 'Delete' | trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                {# School name #}
                <td class="js-search-target">{{ school.name }}</td>

                {# Display school implantations count. #}
                <td class="text-center">
                    {% if is_granted('ROLE_IMPLANTATION_LIST_ALL') %}
                        <a href="{{ path('school_view_implantations', {'id': school.id} ) }}" title="View implantations">
                            <i class="fas fa-building"></i> ({{ school.implantations|length }})
                        </a>
                    {% else %}
                        <span>{{ school.implantations|length }}</span>
                    {% endif %}
                </td>

                {# School edition if user can do it. #}
                {% if is_granted('ROLE_SCHOOL_EDIT') %}
                    <td class="text-center">
                        <a href="{{ path('school_edit', {'id': school.id}) }}" title="Edit school">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                {% endif %}

                {# School deletion if user can do it. #}
                {% if is_granted('ROLE_SCHOOL_DELETE') %}
                    <td class="text-center mobile-hidden-td">
                        <div data-target="school"
                             data-targetid="{{ school.id }}"
                             data-action="{{ path('school_delete', {'id': school.id}) }}"
                             data-class="fas fa-trash"
                             data-csrf="{{ csrf_token('school_delete' ~ school.id) }}"
                        >
                        </div>
                    </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">
                    {{ 'No school found' | trans }}
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    {{ 'You do not have rights to view schools or no school was created'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{# Add button desktop / mobile #}
{% set params = {'role': 'ROLE_SCHOOL_CREATE', 'route': 'school_add'} %}
{% block functionnalitiesMobile %} {% include '_partials/add-button.html.twig' with params %} {% endblock %}

{# Include Javascript files. #}
{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}